@inherits AlertSuccessBase

@if (!string.IsNullOrEmpty(Message))
{
    <div class=@(ClassNames("rounded-md bg-green-50 p-4", CssClass())) role="alert">
        <div class="flex">
        <div class="flex-shrink-0">
            <!-- Heroicon name: solid/x-check -->
            <svg class="h-5 w-5 text-green-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
        </div>
        <div class="ml-3">
            <h3 class="text-sm font-medium text-green-800">
            @Message
            </h3>
        </div>
        </div>
    </div>
}