@typeparam Model
@inherits AutoFormBase<Model>

<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="">
        <div class="">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
                <div class=@ClassNames(PanelClass, SlideOverTransition.Class)>
                    <form class=@FormClass @onsubmit="OnSave" @onsubmit:preventDefault>
                        <!-- Header -->
                        <div class="h-0 flex-1 overflow-y-auto">
                            <div class=@TitlebarClass>
                                <div class="flex items-start justify-between space-x-3">
                                    <div class="space-y-1">
                                        <h2 class=@HeadingClass id="slide-over-title">@Title</h2>
                                        @if (SubHeading != null)
                                        {
                                            <div class="mt-1">
                                                <p class="text-sm text-gray-500">@(SubHeading)</p>
                                            </div>
                                        }
                                        else if (Notes != null)
                                        {
                                            <div class="mt-1">
                                                <p class="notes text-sm text-gray-500">@((MarkupString)Notes)</p>
                                            </div>
                                        }
                                    </div>
                                    <div class="flex h-7 items-center">
                                        <button type="button" @onclick="OnDone" class="rounded-md bg-gray-50 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                                            <span class="sr-only">Close panel</span>
                                            <!-- Heroicon name: outline/x-mark -->
                                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <AutoFormFields Model="Model" Api="api" FormLayout="FormLayout" ModelDictionary="ModelDictionary" />

                        </div>
                        <div class="flex flex-shrink-0 justify-end px-4 py-4">
                            <SecondaryButton @onclick="OnDone">Cancel</SecondaryButton>
                            <PrimaryButton type="submit" class="ml-4">Save</PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

