@typeparam TValue
@inherits CheckboxInputBase<TValue>

<div class=@ClassNames("relative flex items-start", CssClass())>
    <div class="flex items-center h-5">
        <input type="checkbox"
               class="@CheckboxInput.InputClasses"
               id=@Id 
               name=@Id 
               @bind="CurrentValueAsBool" 
               @attributes="IncludeAttributes">
    </div>
    <div class="ml-3 text-sm">
        <label class=@ClassNames(CheckboxInput.LabelClasses, LabelClass) for=@Id>
            @UseLabel
        </label>
        
    @if (HasErrorField)
    {
        <p class=@ClassNames(CheckboxInput.ErrorClasses)>@ErrorFieldMessage</p>
    }
    else if (!string.IsNullOrEmpty(UseHelp))
    {
        <p id=@($"{Id}-description") class="text-gray-500">@UseHelp</p>
    }

    </div>
</div>