@inherits AuthBlazorComponentBase
@inject NavigationManager NavigationManager

@if (!IsAuthenticated)
{
    <SlideOver Title=@Title SubHeading=@SubHeading Done="Done">
        <Alert HtmlMessage=@HtmlMessage />
        <div class="md:p-4">
            <button type="button" @onclick="signIn"
                class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
                Sign In
            </button>
        </div>
    </SlideOver>
}

@code {
    [Parameter, EditorRequired] public string HtmlMessage { get; set; } = "";
    [Parameter] public EventCallback Done { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? SubHeading { get; set; }

    async Task signIn()
    {
        NavigationManager.NavigateTo(NavigationManager.GetLoginUrl());
    }
}
