@inherits UiComponentLiteBase

<h1 class=@ClassNames(Classes, Class)>@ChildContent</h1>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
    public static string Classes { get; set; } = "mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl";
}
