@inherits UiComponentLiteBase

<h3 class=@ClassNames("mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100 leading-tight", Class)>@ChildContent</h3>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
}
