@using ServiceStack.Text

@if (TextUtils.IsComplexType(Value?.GetType()))
{
    var preview = TextUtils.Dump(Value);
    <span class=@CssUtils.ClassNames(@class) title=@TextUtils.TruncateJson(preview, MaxComplexPreviewLength)>
        @if (IncludeIcon)
        {
            var icon = Value.GetType().GetIcon();
            <Icon class=@IconClass Image=icon />
        }
        @TextUtils.TruncateJson(preview, MaxComplexFieldLength)
    </span>
}
else
{
    @Format(Value);
}
