@inherits UiComponentBase

@if (!string.IsNullOrEmpty(href))
{
    <a href=@href class=@ClassNames(cls, Class) title=@title target=@target @onclick:stopPropagation>
        @ChildContent
    </a>
}
else
{
    <button type=@type @onclick="onclick" class=@ClassNames(cls, Class)>
        @ChildContent
    </button>
}

@code {
    string cls = "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2";
}
