@inherits UiComponentLiteBase

@if (AdditionalAttributes?.ContainsKey("href") == true)
{
    <a class=@ClassNames(PrimaryButton.BaseClass, PrimaryButton.GetStyleClass(Style), Class) @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <button class=@ClassNames(PrimaryButton.BaseClass, PrimaryButton.GetStyleClass(Style), Class) @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}

@code {
    [Parameter] public ButtonStyle Style { get; set; } = ButtonStyle.Indigo;
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
}
