@inherits UiComponentBase

<button type=@type @onclick="onclick" class=@ClassNames("rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2", Class)>
    @ChildContent
</button>
