@inherits UiComponentBase

<div class=@ClassNames(Class)>
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select a tab</label>
        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
        <select id="tabs" name="tabs" @onchange="TabSelection" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
            @foreach (var option in TabOptions)
            {
                <option selected=@SelectedTab value="option.Key">@option.Value</option>
            }
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                @foreach (var option in TabOptions)
                {
                    <button @onclick="(e) => ChangeTab(option.Key)" class="@(SelectedTab == option.Key ? "border-indigo-500 text-indigo-600" : "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300") group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm">
                        <span class="text-lg">@option.Value</span>
                    </button>
                }
            </nav>
        </div>
    </div>
</div>