@inherits UiComponentBase

<a href=@href class=@CssUtils.ClassNames("text-blue-600 hover:text-blue-800 visited:text-purple-600", Class) title=@title target=@target @onclick="onclick" @onclick:stopPropagation>@ChildContent</a>
