<ModalDialog Id=@Id Show=@Show Close="Done">
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="">
            <div class="mt-3 text-center sm:mt-0 sm:mx-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Query Preferences</h3>

                <div class="mt-4">
                    <label for=@($"{Id}-take") class="block text-sm font-medium text-gray-700">Results per page</label>
                    <select id=@($"{Id}-take") @bind="Prefs.Take"
                            class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                        @foreach (var take in allTakes)
                        {
                            <option value=@take selected=@(take == Prefs.Take)>@take</option>
                        }
                    </select>
                </div>

                <div class="mt-4 flex items-center py-4 border-b border-gray-200">
                    <input type="radio" id=@($"{Id}-allColumns") @onclick=@(_ => Prefs.SelectedColumns.Clear()) checked=@(Prefs.SelectedColumns.Count == 0)
                           class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                    <label class="ml-3 block text-gray-700" for=@($"{Id}-allColumns")>View all columns</label>
                </div>

                <div class="mt-4">
                    <div class="pb-2 px-4">
                        <div class="">
                            @foreach (var c in Columns)
                            {
                                <div key=@c.Name class="flex items-center">
                                    <input type="checkbox" id=@c.Name checked=@Prefs.SelectedColumns.Contains(c.Name) @oninput="x => columnSelected(c, x.Value)"
                                       class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                                    <label for=@c.Name class="ml-3">@c.Name</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" @onclick="save"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
            Save
        </button>
        <button type="button" @onclick="async _ => await Done.InvokeAsync()"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
            Cancel
        </button>
    </div>
</ModalDialog>

@code {
    int[] allTakes = new[] { 10, 25, 50, 100, 250, 500, 1000 };
    [Parameter] public string Id { get; set; } = "query-prefs";
    [Parameter] public int MaxLimit { get; set; } = 50;
    [Parameter, EditorRequired] public List<MetadataPropertyType> Columns { get; set; } = new();
    [Parameter, EditorRequired] public ApiPrefs Prefs { get; set; } = new();
    [Parameter, EditorRequired] public bool Show { get; set; }
    [Parameter] public EventCallback Done { get; set; }
    [Parameter] public EventCallback<ApiPrefs> Save { get; set; }


    async Task save() 
    {
        await Save.InvokeAsync(Prefs);
    }

    void columnSelected(MetadataPropertyType column, object? value)
    {
        if (value is bool b && b)
        {
            Prefs.SelectedColumns.Add(column.Name);
        }
        else
        {
            Prefs.SelectedColumns.Remove(column.Name);
        }
    }
}
