BODY
{
	font: 13px Arial;
	padding: 0 0 0 45px;
	background: url(img/bg-body-large.png) repeat-y;
	width: 870px;
}
#header-links
{
	float: right;
}
#header-links A, #footer-links A
{
	color: #0000FF;
	margin-left: 0.5em;
}
#footer-links
{
	margin: 9em 0 2em;
	padding-top: 1em;
	text-align: center;
	font-size: larger;
	border-top: 1px solid #DCDCDC;
	margin-left: -10px;
	padding-left: 10px;
}
#footer-links IMG
{
	float: left;
	margin-top: -10px;
}
.r
{
	clear: both;
	display: block;
}
A IMG
{
	border: none;
}
P
{
	width: 768px;
}
CODE
{
	display: block;
	background-color: #F1F9F1;
	white-space: pre;
	color: #333;
	width: 880px;
}
H1
{
	font: 28px/34px "Trebuchet MS";
	color: #063;
	border-top: 1px solid #DCDCDC;
	padding-top: 5px;
	padding-left: 10px;
	margin-left: -10px;
}
H4
{
	clear: left;
	color: #063;
	font-size: 14px;
	font-family: Verdana;
}
INPUT.int
{
	width: 20px;
}
ACRONYM
{
	border-bottom: 1px dashed #A0A0A0;
}
.note
{
	background-color: rgb(249, 246, 183);
	border: 1px solid rgb(196, 194, 149);
	margin: 1ex 0px;
	min-height: 35px;
	width: 700px;
	padding: 5px 30px;
}
.service
{
	float: left;
	margin-right: 1em;
	padding: 1em;
	border: 1px solid #A0A0A0;
}
.service H3
{
	clear: right;
}
.service H4
{
	margin: 1em 0;
	padding: 0;
}
.service .result
{
	padding: 0 1em;
	font-size: 18px;
	color: #555;
}
.service UL
{
	list-style-type: square;
}
.form
{
	margin-bottom: 1em;
}
.form LABEL
{
	display: block;
	padding: 0.5em;
}
.user
{
	border-top: 1px dashed #A0A0A0;
	margin-top: 0.5em;
	padding-top: 0.5em;
}
.code-link SPAN
{
	float: right;
	margin: -10px -5px 10px 0;
	color: #0000FF;
	cursor: pointer;
}
.code-preview
{
	display: none;
	position: absolute;
	margin: 10px 0;
	left: 2em;
	border: 5px solid #555;
	border-top: none;
}
.code-link SPAN:hover
{
	text-decoration: underline;
}
.code-preview H5
{
	font-size: 13px;
	background: #555;
	color: #DEDEDE;
	margin: 0;
	padding: 0.5em 1em;
}
.code-preview .client-code
{
	background-color: #F1F9F1;
}
.code-preview .dto
{
	background-color: #F1F9F1;
}
.code-preview .server-code
{
	background-color: #F5F9C7;
}
#silverlightControlHost
{
	width: 1041px;
}
