BODY {
    font: 13px Arial;
    padding: 0 2em;
}
#header-links
{
	float: right;
}
#header-links A, #footer-links A
{
	color: Blue;
	margin-left: .5em;
}
#footer-links
{
	border-top: solid 2px #ccc;
	margin: 9em 0 2em 0;
	padding-top: 1em;
	text-align: center;
	font-size: larger;
}
#footer-links img
{
	float: left;
	margin-top: -10px;
}
.r 
{
	clear: both;
	display: block;
}

A IMG {
	border: none;
}

P
{
    width: 768px;        	
}
CODE
{
	display: block;
	background: #f1f1f1;
	white-space: pre;
	color: #333;
	width: 880px;
}
H1 
{
	font: 28px/34px Trebuchet MS;
	color: #063;
}
H4
{        	
	clear: left;
	color: #063;
	font-size: 14px;
	font-family: Verdana;
}
INPUT.int
{
	width: 20px;
}
acronym 
{
	border-bottom: dashed 1px #a0a0a0;
}
.note
{
	background-color: rgb(249, 246, 183);
	border: 1px solid rgb(196, 194, 149);
	margin: 1ex 0px;
	min-height: 35px;
    width: 700px;        	
	padding: 5px 30px;
}

.service 
{
	float: left;
	margin-right: 1em;
	padding: 1em;
	border: solid 1px #a0a0a0;
}
.service H3 
{
	clear: right;
}
.service H4 
{
	margin: 1em 0;
	padding: 0;
}
.service .result
{
	padding: 0 1em;
	font-size: 18px;
	color: #555;
}
.service UL
{
	list-style-type: square;
}
.form 
{
	margin-bottom: 1em;
}
.form LABEL
{
	display: block;
	padding: .5em;
}
.user 
{
	border-top: dashed 1px #a0a0a0;
	margin-top: .5em;
	padding-top: .5em;
}

.code-link SPAN
{
	float: right;
	margin: -10px -5px 10px 0;
	color: Blue;
	cursor: pointer;
}
.code-preview
{
	display: none;
	position: absolute;
	margin: 10px 0;
	left: 2em;
	border: solid 5px #555;
	border-top: none;
}
.code-link SPAN:hover 
{
	text-decoration: underline;
}
.code-preview H5
{
	font-size: 13px;
	background: #555;
	color: #DEDEDE;
	margin: 0;
	padding: .5em 1em; 
}
.code-preview .client-code
{
	background-color: #fff;
}
.code-preview .dto
{
	background-color: #f1f9f1;
}
.code-preview .server-code
{
	background-color: #f1f1f9;
}