@page "/gallery/autoquerygrid"
@layout MainLayout

<h1 class="mb-4 text-3xl font-semibold text-gray-900">
    AutoQueryGrid Examples
</h1>

<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    Read Only
</h2>

<ExampleCode Path="/AutoQueryGrid/ReadOnly.razor" />

<p class="mb-4 text-lg">
    If only the AutoQuery DTO is provided, the AutoQueryGrid will only be browsable in <b>read-only</b> mode:
</p>

<iframe class="w-full h-96" src="/gallery/autoquerygrid/readonly" />


<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    Default CRUD
</h2>

<ExampleCode Path="/AutoQueryGrid/Crud.razor" />

<p class="mb-4 text-lg">
    If all AutoQuery CRUD DTOs are provided the AutoQuery Grid allows authorized users the ability to Create, Read, Update &amp; Delete records:
</p>
<iframe class="w-full h-96" src="/gallery/autoquerygrid/crud" />

<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    Custom Responsive Columns
</h2>

<p class="mb-4 text-lg">
    By default AutoQueryGrid displays all public properties, which columns are displayed as well as how they're formatted can be customized using
    the <b>&lt;Column/&gt;</b> element:
</p>

<ExampleCode Path="/AutoQueryGrid/Responsive.razor" />

<p class="mb-4 text-lg">
    This example shows how to customize Data Grid to enable a responsive layout where columns and header labels are collapsed at different responsive breakpoints.
</p>

<iframe class="w-full h-96" src="/gallery/autoquerygrid/responsive" />
