<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!-- add ormlite-tests.fdb = {PATH TO FDB FILE} D:\\ormlite-tests.fdb to your firebird  alias.conf  -->
        <add name="testDb"
             connectionString="User=SYSDBA;Password=masterkey;Database=/firebird/data/test.gdb;DataSource=localhost;Port=48101;Dialect=3;charset=ISO8859_1;MinPoolSize=0;MaxPoolSize=100;"
             providerName="FirebirdSql.Data.FirebirdClient" />
        <!-- <add name="testDb" connectionString="User=SYSDBA;Password=masterkey;Database=localhost:C:\src\ServiceStack.OrmLite\tests\ServiceStack.OrmLite.FirebirdTests\App_Data\TEST.FDB;DataSource=localhost;Charset=NONE;Dialect=3;charset=ISO8859_1;MinPoolSize=0;MaxPoolSize=100;" providerName="FirebirdSql.Data.FirebirdClient"/> -->
    </connectionStrings>

    <system.data>
        <DbProviderFactories>
            <remove invariant="FirebirdSql.Data.FirebirdClient" />
            <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient"
                 description=".NET Framework Data Provider for Firebird"
                 type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>