<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log"/>
			<staticLogFileName value="false"/>
			<countDirection value="1"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="'-'yyyy.MM.dd'.log'"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp from="donotreply@servicestack.net">
				<network host="mail.google.com" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
	
	<appSettings>
		<add key="ConnectionString"        value="C:\Projects\code.google\ExampleProjects\ServiceStack.SakilaDb4o\ServiceStack.SakilaDb4o.Host.WebService\App_Data\sakila.db4o" />
	</appSettings>

</configuration>