<%-- 
Name: BusinessBase.cst
Author: Tom DuPont
Description: Generates the NHibernateSessionManager class for NHibernate.
--%>
<%@ CodeTemplate Language="C#" Src="..\Helpers\NHibernateHelper.cs" Inherits="NHibernateHelper" TargetLanguage="C#" Debug="False" Description="Generates the NHibernateSession class for NHibernateManager." %>
<%@ Property Name="BaseNamespace" Type="System.String" Default="NHibernate.Generated.Base" Optional="False" Category="2. Namespaces" Description="The Namespace where the Base classes (BusinessBase & ManagerBase) are located." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
using System;
using System.Collections.Generic;
using System.Text;

using NHibernate;
using NHibernate.Cfg;

namespace <%= BaseNamespace %>
{
    public interface INHibernateSessionManager : IDisposable
    {
        // Methods
        INHibernateSession CreateSession();
		ISession CreateISession();

        // Properties
        INHibernateSession Session { get; }
    }

    /// <summary>
    /// A Singleton that creates and persits a single SessionFactory for the to program to access globally.
    /// This uses the .Net CallContext to store a session for each thread.
    /// 
    /// This is heavely based on 'NHibernate Best Practices with ASP.NET' By Billy McCafferty.
    /// http://www.codeproject.com/KB/architecture/NHibernateBestPractices.aspx
    /// </summary>
    public class NHibernateSessionManager : INHibernateSessionManager
    {
        #region Static Content

        private static INHibernateSessionManager _nHibernateSessionManager = null;
        /// <summary>
        /// Set method is exposed so that the INHibernateSessionManager can be swapped out for Unit Testing.
        /// NOTE: Cannot set Instance after it has been initialized, and calling Get will automatically intialize the Instance.
        /// </summary>
        public static INHibernateSessionManager Instance
        {
            get
            {
                if(_nHibernateSessionManager == null)
                    _nHibernateSessionManager = new NHibernateSessionManager();
                return _nHibernateSessionManager;
            }
            set
            {
                if (_nHibernateSessionManager != null)
                    throw new Exception("Cannot set Instance after it has been initialized.");
                _nHibernateSessionManager = value;
            }
        }

        #endregion

        #region Declarations

        private ISessionFactory _sessionFactory = null;
        private const string _sessionContextKey = "NHibernateSession-ContextKey";

        #endregion

        #region Constructors & Finalizers

        /// <summary>
        /// This will load the NHibernate settings from the App.config.
        /// Note: This can/should be expanded to support multiple databases.
        /// </summary>
        private NHibernateSessionManager()
        {
            _sessionFactory = new NHibernate.Cfg.Configuration().Configure().BuildSessionFactory();
        }
        ~NHibernateSessionManager()
        {
            Dispose(true);
        }

        #endregion

        #region IDisposable

        private bool _isDisposed = false;
        public void Dispose()
        {
            Dispose(false);
        }
        private void Dispose(bool finalizing)
        {
            if (!_isDisposed)
            {
                // Close SessionFactory
                _sessionFactory.Close();
                _sessionFactory.Dispose();

                // Flag as disposed.
                _isDisposed = true;
                if (!finalizing)
                    GC.SuppressFinalize(this);
            }
        }

        #endregion

        #region Methods

        public INHibernateSession CreateSession()
        {
            return new NHibernateSession(CreateISession());
        }
        public ISession CreateISession()
        {
            ISession iSession;
            lock (_sessionFactory)
            {
                iSession = _sessionFactory.OpenSession();
            }
            return iSession;
        }

        #endregion

        #region Properties

        public INHibernateSession Session
        {
            get
            {
                INHibernateSession session = ContextSession;

                // If the thread does not yet have a session, create one.
                if (session == null)
                {
                    session = CreateSession();

                    // Save to CallContext.
                    ContextSession = session;
                }

                return session;
            }
        }
        private INHibernateSession ContextSession
        {
            get
            {
                if (IsWebContext)
                    return (NHibernateSession)System.Web.HttpContext.Current.Items[_sessionContextKey];
                else
                    return (NHibernateSession)System.Runtime.Remoting.Messaging.CallContext.GetData(_sessionContextKey);
            }
            set
            {
                if (IsWebContext)
                    System.Web.HttpContext.Current.Items[_sessionContextKey] = value;
                else
                    System.Runtime.Remoting.Messaging.CallContext.SetData(_sessionContextKey, value);
            }
        }
        private bool IsWebContext
        {
            get { return (System.Web.HttpContext.Current != null); }
        }

        #endregion
    }
}
