@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <header>
        <Heading1>Locked out</Heading1>
        <p class="my-4 text-danger">This account has been locked out, please try again later.</p>
    </header>

</div>

