@page "/Account/Logout"

<PageTitle>Signed out</PageTitle>

<div class="mt-8 mx-auto max-w-lg">
    <div>
        <Heading1>Signed out</Heading1>
        <p class="my-4">You have successfully signed out.</p>
    </div>
</div>