@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <Heading1>Reset password confirmation</Heading1>

    <p class="my-4">
        Your password has been reset. Please <HyperLink class="font-semibold" href="Account/Login">click here to log in</HyperLink>.
    </p>

</div>
