<script id="profilerTemplate" type="text/x-jquery-tmpl">

  <div class="profiler-result">

    <div class="profiler-button {{if HasDuplicateSqlTimings}}warning{{/if}}">
    {{if HasDuplicateSqlTimings}}<span class="nuclear">!</span>{{/if}}
      <span class="number">
        ${MiniProfiler.formatDuration(DurationMilliseconds)} <span class="unit">ms</span>
      </span>
    </div>

    <div class="profiler-popup">
      <div class="info">
        <span class="name">
          ${Name} <span class="overall-duration">(${MiniProfiler.formatDuration(DurationMilliseconds)} ms)</span>
        </span>
        <span class="server-time">${MachineName} on ${MiniProfiler.renderDate(Started)}</span>
      </div>
      <div class="profiler-output">
        <table class="timings">
          <thead>
            <tr>
              <th></th>
              <th>duration (ms)</th>
              <th class="duration-with-children">with children (ms)</th>
              <th class="time-from-start">from start (ms)</th>
            {{if HasSqlTimings}}
              <th colspan="2">query time (ms)</th>
            {{/if}}
            </tr>
          </thead>
          <tbody>
            {{tmpl(Root) "#timingTemplate"}}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <a href="${MiniProfiler.shareUrl(Id)}" class="share-profiler-results" target="_blank">share</a>
              {{if HasTrivialTimings}}
                <a class="toggle-trivial" data-show-on-load="${HasAllTrivialTimings}" title="toggles any rows with &lt; ${TrivialDurationThresholdMilliseconds} ms">
                   show trivial
                 </a>
              {{/if}}
                <a class="toggle-duration-with-children" title="toggles column with aggregate child durations">show time with children</a>
              </td>
            {{if HasSqlTimings}}
              <td colspan="2" class="number percent-in-sql" title="${MiniProfiler.getSqlTimingsCount(Root)} queries spent ${MiniProfiler.formatDuration(DurationMillisecondsInSql)} ms of total request time">
                ${MiniProfiler.formatDuration(DurationMillisecondsInSql / DurationMilliseconds * 100)}
                <span class="unit">% in sql</span>
              </td>
            {{/if}}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

  {{if HasSqlTimings}}
    <div class="profiler-queries">
      <table>
      <thead>
        <tr>
          <th style="text-align:right">step<br />time from start<br />query type<br />duration</th>
          <th style="text-align:left">call stack<br />query</th>
        </tr>
      </thead>
      <tbody>
        {{each(i, s) MiniProfiler.getSqlTimings(Root)}}
          {{tmpl({ g:s.prevGap }) "#sqlGapTemplate"}}
          {{tmpl({ i:i, s:s }) "#sqlTimingTemplate"}}
          {{if s.nextGap}}
            {{tmpl({ g:s.nextGap }) "#sqlGapTemplate"}}
          {{/if}}
        {{/each}}
      </tbody>
      </table>
      <p class="trivial-gap-container">
        <a class="toggle-trivial-gaps" href="#">show trivial gaps</a>
      </p>
    </div>
  {{/if}}

  </div>

</script>

<script id="timingTemplate" type="text/x-jquery-tmpl">

  <tr class="{{if IsTrivial }}trivial{{/if}}" data-timing-id="${Id}">
    <td class="label" title="{{if Name && Name.length > 45 }}${Name}{{/if}}">
      <span class="indent">${MiniProfiler.renderIndent(Depth)}</span> ${Name.slice(0,45)}{{if Name && Name.length > 45 }}...{{/if}}
    </td>
    <td class="duration" title="duration of this step without any children's durations">
      ${MiniProfiler.formatDuration(DurationWithoutChildrenMilliseconds)}
    </td>
    <td class="duration duration-with-children" title="duration of this step and its children">
      ${MiniProfiler.formatDuration(DurationMilliseconds)}
    </td>
    <td class="duration time-from-start" title="time elapsed since profiling started">
      <span class="unit">+</span>${MiniProfiler.formatDuration(StartMilliseconds)}
    </td>

  {{if HasSqlTimings}}
    <td class="duration {{if HasDuplicateSqlTimings}}warning{{/if}}" title="{{if HasDuplicateSqlTimings}}duplicate queries detected - {{/if}}${ExecutedReaders} reader, ${ExecutedScalars} scalar, ${ExecutedNonQueries} non-query statements executed">
      <a class="queries-show">
        {{if HasDuplicateSqlTimings}}<span class="nuclear">!</span>{{/if}}
        ${SqlTimings.length} <span class="unit">sql</span>
      </a>
    </td>
    <td class="duration" title="aggregate duration of all queries in this step (excludes children)">
      ${MiniProfiler.formatDuration(SqlTimingsDurationMilliseconds)}
    </td>
  {{/if}}

  </tr>

  {{if HasChildren}}
    {{each Children}}
      {{tmpl($value) "#timingTemplate"}}
    {{/each}}
  {{/if}}

</script>

<script id="sqlTimingTemplate" type="text/x-jquery-tmpl">

  <tr class="{{if i % 2 == 1}}odd{{/if}}" data-timing-id="${s.ParentTimingId}">
    <td class="info">
      <div>${s.ParentTimingName}</div>
      <div class="number"><span class="unit">T+</span>${MiniProfiler.formatDuration(s.StartMilliseconds)} <span class="unit">ms</span></div>
      <div>
        {{if s.IsDuplicate}}<span class="warning">DUPLICATE</span>{{/if}}
        ${MiniProfiler.renderExecuteType(s.ExecuteType)}
      </div>
      <div title="{{if s.ExecuteType == 3}}first result fetched: ${s.FirstFetchDurationMilliseconds}ms{{/if}}">${MiniProfiler.formatDuration(s.DurationMilliseconds)} <span class="unit">ms</span></div>
    </td>
    <td>
      <div class="query">
        <pre class="stack-trace">${s.StackTraceSnippet}</pre>
        <pre class="prettyprint lang-sql"><code>${s.FormattedCommandString}   </code></pre>
      </div>
    </td>
  </tr>

</script>

<script id="sqlGapTemplate" type="text/x-jquery-tmpl">

  <tr class="gap-info{{if g.duration < 4}} trivial-gaps{{/if}}">
    <td class="info">
      ${g.duration} <span class="unit">ms</span>  
    </td>
    <td class="query">
      <div>${g.topReason.name} &mdash; ${g.topReason.duration.toFixed(2)} <span class="unit">ms</span></div>
    </td>
  </tr>

</script>