<script minify>
App.components({
    QueryPrefs({ id, store, routes, columns, prefs, maxLimit, save, replace }) {
        let allTakes = [10,25,50,100,250,500,1000]
        return {
            $template: Modal.dialog({ $template:'#query-prefs-template', id }),
            id, store, routes,
            get columns() { return columns().filter(c => !c.format || c.format.method !== 'hidden') },
            prefs: prefs(),
            get takes() { return allTakes.filter(x => x <= maxLimit) },
            save() {
                save(this.prefs)
                this.close()
            },
            close() {
                Modal.hide(id)
            },
            sub:null,
            unmounted: App.unsubscribe,
            mounted() {
                this.prefs = prefs()
                this.sub = App.events.subscribe(`modal:${id}`, () => this.prefs = prefs())
            },
        }
    },
})
</script>
<!--minify-->
<template id="query-prefs-template">
<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
    <div class="">
        <div class="mt-3 text-center sm:mt-0 sm:mx-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Query Preferences</h3>
            <div class="mt-4">
                <label :for="`${id}-take`" class="block text-sm font-medium text-gray-700">Results per page</label>
                <select :id="`${id}-take`" v-model="prefs.take" 
                        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                    <option v-for="take in takes" :value="take" :selected="take === prefs.take">{{take}}</option>
                </select>
            </div>
            <div class="mt-4 flex items-center py-4 border-b border-gray-200">
                <input type="radio" :id="`${id}-allColumns`" @click="prefs.selectedColumns=[]" :checked="prefs.selectedColumns.length===0"
                       class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300">
                <label class="ml-3 block text-gray-700" :for="`${id}-allColumns`">View all columns</label>
            </div>
            <div class="mt-4">
                <div class="pb-2 px-4">
                    <div class="">
                        <div v-for="c in columns" :key="c.name" class="flex items-center">
                            <input type="checkbox" :id="c.name" :value="c.name" v-model="prefs.selectedColumns" 
                                   class="h-4 w-4 border-gray-300 rounded text-indigo-600 focus:ring-indigo-500">
                            <label :for="c.name" class="ml-3">{{c.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
    <button type="button" @click="save"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
        Save
    </button>
    <button type="button" @click="close"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
        Cancel
    </button>
</div>
</template>
<!--/minify-->
