@page "/admin"
@inherits AdminPage

<AdminPage IconClass="svg svg-admin-home svg-2.5x align-bottom">
    <div class="d-flex justify-content-center mt-5">
        <NavPageLink href="/admin/users" Label="Manage Users" IconClass="svg svg-admin-users svg-6x align-bottom"/>
    </div>
</AdminPage>
