@page "/gallery/formats"
@using MyApp.Client.Pages.gallery.Format

<Breadcrumbs>
    <Breadcrumb href="/gallery">
        gallery
    </Breadcrumb>
    <Breadcrumb>
        Format Examples
    </Breadcrumb>
</Breadcrumbs>

<ApiReference Component="PreviewFormat" />

<p class="mb-4 text-lg">
    Useful for rendering Table Cell data into different customizable formats, e.g:
</p>

<ExampleCode Path="/gallery/Format/PreviewFormatExamples.razor" />

<PreviewFormatExamples />

<ApiReference Component="HtmlFormat">
    HtmlFormat
</ApiReference>

<p class="mb-4 text-lg">
    For rendering any Serializable object into a human-friendly HTML Format:
</p>

<ExampleCode Path="/gallery/Format/HtmlFormatExamples.razor" />

<HtmlFormatExamples />
