@page "/gallery/inputs"
@using MyApp.Client.Pages.gallery.Inputs

<Breadcrumbs>
    <Breadcrumb href="/gallery">
        gallery
    </Breadcrumb>
    <Breadcrumb>
        Form Input Examples
    </Breadcrumb>
</Breadcrumbs>

<ApiReference Component="TextInput<TValue>">
    Bookings Form
</ApiReference>

<p class="mb-4 text-lg">
    The <code>TextInput</code>, <code>SelectInput</code>, <code>DateTimeInput</code> and <code>TextAreaInput</code> contains the most popular
    Input controls used by C# POCOs which can be bound directly to Request DTOs and includes support for
    <a class="text-blue-600 hover:text-blue-800" href="https://docs.servicestack.net/declarative-validation">declarative</a>
    and
    <a class="text-blue-600 hover:text-blue-800" href="https://docs.servicestack.net/validation">Fluent Valiation</a>
    binding.
</p>

<BookingsForm class="max-w-screen-md" />

<ExampleCode Path="/gallery/Inputs/BookingsForm.razor" />

<ApiReference Component="Autocomplete<T>">
    Autocomplete
</ApiReference>

<p class="mb-4 text-lg">
    The <code>Autocomplete</code> component provides a user friendly Input for being able to search and quickly select items
    with support for partial items view and infinite scrolling.
</p>

<AutocompleteExamples class="max-w-prose" />

<ExampleCode Path="/gallery/Inputs/AutocompleteExamples.razor" />
