@inherits ViewPage

@{
    Layout = "Empty";
    ViewBag.Title = "Server Sent Events Chat";
    var channel = Request.QueryString["channel"] ?? "home";
}

<style>
    body {
        font: 16px Arial;
        overflow: hidden;
        padding: 0;
        margin: 0;
        color: #444;
    }
    #channels {
        z-index: 1;
        position: fixed;
        top: 0;
        background: #09F;
        width: 100%;
        height: 40px;
    }
    ul {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 10px;
        list-style: none;
    }
    li {
        display: block;
        width: 100px;
        padding: 5px;
        text-align: center;
        background: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    #subscribers {
        position: absolute;
        top: 40px;
        right: 0;
        width: 15%;
        height: 100%;
        background: #fff;
        border-left: 2px solid #ccc;
    }
    #log {
        position: fixed;
        left: -2px;
        bottom: 50px;
        width: 85%;
    }
    #controls {
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        background: #f1f1f1;
        border-top: 1px solid #ccc;
    }
    #controls input {
        font-size: 16px;
        margin: 6px 0 0 6px;
        padding: 4px 8px;
        width: 77%; 
    }
    #controls button {
        padding: 4px 8px;
    }
    .open div {
        color: green;
    }
    .error div {
        color: red;
    }
    #social {
        float: right;
        padding: 5px;
    }
    #social a {
        display: inline-block;
        width: 77px;
        height: 20px;
        margin: 5px 5px 0 0;
    }
    .twitter { background: url(/img/twitter_normal.png) no-repeat; }
    .facebook { background: url(/img/facebook_normal.png) no-repeat; }
    .github { background: url(/img/github_normal.png) no-repeat; }
    #user {
        float: left;
        margin: 0 5px 0 0;
        color: #f1f1f1;
    }
    #user span {
        line-height: 24px;
    }
    #user img {
        height: 24px; 
        margin: 0 0 0 5px;
        vertical-align: bottom;
    }
    #users {
        color: #666;
    }
    .user img {
        height: 24px; 
        margin: 2px 5px 0 5px;
        vertical-align: bottom;
    }
    .private {
        color: red;
    }
    .msg {
        border-top: 1px solid #eee;
    }
    .msg b, .msg div, .msg i {
        line-height: 30px;
        height: 30px;
        display: inline-block;
        padding: 0 0 0 10px;
        font-style: normal;
        font-weight: normal;
    }
    .msg b {
        width: 200px;
        background: #fafafa;
    }
    .msg div {
    }
    .msg i {
        color: #999;
        float: right;
        padding: 0 10px 0 0;
    }
</style>

<script src="/jquery-2.0.2.min.js"></script>
<script src="/js/ss-utils.js"></script>

<div id="channels">
    <div id="social">
        <div id="user"></div>
        @if (!IsAuthenticated)
        {
            <a href="/auth/twitter" class="twitter"></a>
            <a href="/auth/facebook" class="facebook"></a>
            <a href="/auth/github" class="github"></a>
        }
    </div>
    <ul>
        <li>@channel</li>
    </ul>
</div>
<div id="subscribers">
    <div id="users"></div>
</div>

<div id="log"></div>
<div id="controls">
    <input type="text" id="txtMsg" />
    <button id="btnSend">Send</button>
</div>

<script>
    var source = new EventSource('/event-stream?channel=@channel');

    $.getJSON("/event-subscribers?channel=@channel", function (users) {
        var html = $.map(users, function(user) { return createUser(user); }).join('');
        $("#users").html(html);
    });

    function createUser(user) {
        return "<div class='user u_" + user.userId + "'><img src='" +
            user.profileUrl + "'/><span>" + user.displayName + "</span></div>";
    }
    
    var userSub = null;
    $(source).handleServerEvents({
        success: function (selector, msg, json) {
            console.log(selector, json);
        },
        handlers: {
            onConnect: function (user) {
                console.log('onConnect', user);
                userSub = user;
                $("#user").html('<span>Welcome, ' + user.displayName + '</span>' + '<img src="' + user.profileUrl + '"/>');
                addEntry({ msg: "CONNECTED!", cls: "open" });
            },
            onJoin: function (user) {
                console.log('onJoin', user);
                $("#users .u_" + user.userId).remove();
                $("#users").prepend(createUser(user));
            },
            onLeave: function (user) {
                console.log('onLeave', user);
                $("#users .u_" + user.userId).remove();
            },
            chat: function (o, e) {
                addEntry({ id: o.id, userId: o.fromUserId, userName: o.fromName, msg: o.message, cls: o.private ? ' private' : '' });
            }
        }
    });

    $(document).bindHandlers({
        showPopup: function (msg) {
            alert(msg);
        },
        toggle: function () {
            $(this).toggle();
        }
    });

    source.addEventListener('error', function (e) {
        addEntry({ msg: "ERROR!", cls: "error" });
    }, false);

    function addEntry(o) {
        console.log("addEntry", o);
        var id = "u_" + o.userId + "";
        var skipUser = $("#log .msg:last-child b").hasClass(id);
        var user = o.userId && !skipUser ? "<b class='user " + id + "'>" + $("#users ." + id).html() + "</b>" : "<b class=" + id + ">&nbsp;</b>";
        var time = "<i>" + $.ss.tfmt12(new Date()) + "</i>";
        $("#log").append("<div id='m_" + (o.id || "0") + "' class='msg " + o.cls + "'>" +
            user + time + "<div>" + o.msg + "</div>" + "</div>");
    }

    function postMsg() {
        var msg = $("#txtMsg").val();
        if (!msg || !userSub) return;
        if (msg[0] == "/") {
            var parts = $.ss.splitOnFirst(msg, " ");
            $.post("/channels/@channel/raw", { from: userSub.id, message: parts[1], selector: parts[0].substring(1) }, function (r) { });
        } else {
            $.post("/channels/@channel/chat", { from: userSub.id, message: msg, selector: "cmd.chat" }, function (r) { });
        }
        $("#txtMsg").val("");
    }
    $("#btnSend").click(postMsg);
    $("#txtMsg").keypress(function(e) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13') {
            postMsg();
        }
    });

</script>

