<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit     
  http://go.microsoft.com/fwlink/?LinkId=169433  
  --> 
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" requirePermission="false"/>
        <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
    </configSections>
    <appSettings>
        <add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0="/>
        <add key="webPages:Enabled" value="false"/>
        <add key="RecreateAuthTables" value="True"/>
        <add key="AdminUserNames" value="demis.bellot@gmail.com"/>
        <!-- Auth config -->
        <add key="oauth.RedirectUrl" value="http://localhost:11001/"/>
        <!-- Should match with OAuth2's App Callback URL -->
        <add key="oauth.CallbackUrl" value="http://localhost:11001/auth/{0}"/>
        <!-- Create Twitter App at: https://dev.twitter.com/apps -->
        <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA"/>
        <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q"/>
        <!-- Create Facebook App at: https://developers.facebook.com/apps -->
        <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
        <add key="oauth.facebook.AppId" value="531608123577340"/>
        <add key="oauth.facebook.AppSecret" value="9e1e6591a7f15cbc1b305729f4b14c0b"/>
        <!-- Create Google App at: https://code.google.com/apis/console/ -->
        <add key="oauth.GoogleOAuth.ConsumerKey" value="731622862518.apps.googleusercontent.com"/>
        <add key="oauth.GoogleOAuth.ConsumerSecret" value="BvumMTV9VEyHj_2uMfDXHaaP"/>
        <add key="oauth.GoogleOAuth.AuthorizeUrl" value="https://accounts.google.com/o/oauth2/auth?prompt=consent"/>
        <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
        <add key="oauth.LinkedIn.ConsumerKey" value="ck8n5g2fxd6o"/>
        <add key="oauth.LinkedIn.ConsumerSecret" value="Mpy9Pl4uTnRrSee8"/>
        <!--Create GitHub App at: https://github.com/settings/applications/new -->
        <add key="oauth.github.Scopes" value="user" />
        <add key="oauth.github.ClientId" value="7e8a80ab55b757e7de05" />
        <add key="oauth.github.ClientSecret" value="122eb4d2762190d024dca6a319bc7c602ee942a2" />

        <!-- Create Foursquare App at: https://foursquare.com/developers/register  -->
        <add key="oauth.FourSquare.Scopes" value="basic" />
        <add key="oauth.FourSquare.ConsumerKey" value="TSDLJ5NTMREW0XJIEADD4TOF0ZRSAGY1SVFLXXKT10FQPHLQ" />
        <add key="oauth.FourSquare.ConsumerSecret" value="5O1S22BY0YVEL1X5OA0D4ZOSYC2MRYZYIHN4IZ0DOAPCT34X" />

        <!-- Create App https://oauth.yandex.ru/client/new  -->
        <add key="oauth.Yandex.AppId" value="4a453a7d9d594ad59233a075fefc244d" />
        <add key="oauth.Yandex.AppPassword" value="233973486c4c49c9952472503bf98d5e" />

        <!-- Create App http://vk.com/editapp?act=create -->
        <add key="oauth.vkcom.ApplicationId" value="4372582" />
        <add key="oauth.vkcom.SecureKey" value="beCFl4Pz6FOQf3iBlDxB" />
        <add key="oauth.vkcom.Scope" value="friends,offline" />
        <add key="oauth.vkcom.ApiVersion" value="5.21" />

        <!--Create Odnoklassniki App at: http://www.odnoklassniki.ru/devaccess-->
        <add key="oauth.Odnoklassniki.ApplicationId" value="1089990656"/>
        <add key="oauth.Odnoklassniki.PublicKey" value="CBABPIPBEBABABABA" />
        <add key="oauth.Odnoklassniki.SecretKey" value="B268138DF0BE3919FB1BBED8"/>
    </appSettings>
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
        <httpHandlers>
            <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral" verb="*"/>
            <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
        </httpHandlers>
      <compilation debug="true" targetFramework="4.5">
        <buildProviders>
          <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
        </buildProviders>
        <assemblies>
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          <add assembly="ServiceStack" />
          <add assembly="ServiceStack.Razor" />
          <add assembly="ServiceStack.Text" />
          <add assembly="ServiceStack.OrmLite" />
          <add assembly="ServiceStack.AuthWeb.Tests" />
        </assemblies>
      </compilation>
        <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
        <httpModules>
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
        </httpModules>
        <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <!-- Required for IIS7 -->
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
        </modules>
        <handlers>
            <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
            <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
        </handlers>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
    <system.web.webPages.razor>
        <pages pageBaseType="ServiceStack.Razor.ViewPage">
            <namespaces>
              <add namespace="System" />
              <add namespace="ServiceStack" />
              <add namespace="ServiceStack.Html" />
              <add namespace="ServiceStack.Razor" />
              <add namespace="ServiceStack.Text" />
              <add namespace="ServiceStack.OrmLite" />
              <add namespace="ServiceStack.AuthWeb.Tests"/>
            </namespaces>
        </pages>
    </system.web.webPages.razor>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="teststub.log"/>
            <appendToFile value="true"/>
            <rollingStyle value="Size"/>
            <maxSizeRollBackups value="10"/>
            <maximumFileSize value="100KB"/>
            <staticLogFileName value="true"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date (GMT%date{%z}) [%thread] %-5level %logger - %message%newline"/>
            </layout>
        </appender>
        <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date (GMT%date{%z}) [%thread] %-5level %logger - %message%newline"/>
            </layout>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="RollingFileAppender"/>
        </root>
        <logger name="DotNetOpenAuth">
            <level value="ALL"/>
            <appender-ref ref="MemoryAppender"/>
            <appender-ref ref="RollingFileAppender"/>
        </logger>
    </log4net>
    <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
        <!-- If you are having issues with Glimpse, please include this. It will help us figure out whats going on. 
      <logging level="Trace" />-->
        <!-- Want to use Glimpse on a remote server? Ignore the LocalPolicy by removing this comment.
      <runtimePolicies>
        <ignoredTypes>
          <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
        </ignoredTypes>
      </runtimePolicies>-->
    </glimpse>
</configuration>