<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit     
  http://go.microsoft.com/fwlink/?LinkId=169433  
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" requirePermission="false" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0=" />
    <add key="Glimpse:DisableAsyncSupport" value="true" />
    <add key="webPages:Enabled" value="false" />
    <add key="RecreateAuthTables" value="True" />
    <add key="AdminUserNames" value="demis.bellot@gmail.com" />
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:11001/" />
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:11001/auth/{0}" />
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA" />
    <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q" />
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email" />
    <add key="oauth.facebook.AppId" value="1934838220075493" />
    <add key="oauth.facebook.AppSecret" value="2a546b53bc0151244eab85ddc2c165a1" />
    <!-- Create Google App at: https://code.google.com/apis/console/ -->
    <add key="oauth.GoogleOAuth.ConsumerKey" value="731622862518.apps.googleusercontent.com" />
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="BvumMTV9VEyHj_2uMfDXHaaP" />
    <add key="oauth.GoogleOAuth.AuthorizeUrl" value="https://accounts.google.com/o/oauth2/auth?prompt=consent" />
    <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
    <add key="oauth.LinkedIn.ConsumerKey" value="ck8n5g2fxd6o" />
    <add key="oauth.LinkedIn.ConsumerSecret" value="Mpy9Pl4uTnRrSee8" />
    <!--Create GitHub App at: https://github.com/settings/applications/new -->
    <add key="oauth.github.Scopes" value="user" />
    <add key="oauth.github.ClientId" value="99a384d89c0220e57965" />
    <add key="oauth.github.ClientSecret" value="b27bce57a7a06390f6acfd29229c5a0496e3df03" />
    <!-- Create Foursquare App at: https://foursquare.com/developers/register  -->
    <add key="oauth.FourSquare.Scopes" value="basic" />
    <add key="oauth.FourSquare.ConsumerKey" value="TSDLJ5NTMREW0XJIEADD4TOF0ZRSAGY1SVFLXXKT10FQPHLQ" />
    <add key="oauth.FourSquare.ConsumerSecret" value="5O1S22BY0YVEL1X5OA0D4ZOSYC2MRYZYIHN4IZ0DOAPCT34X" />
    <!-- Create App https://oauth.yandex.ru/client/new  -->
    <add key="oauth.Yandex.AppId" value="4a453a7d9d594ad59233a075fefc244d" />
    <add key="oauth.Yandex.AppPassword" value="233973486c4c49c9952472503bf98d5e" />
    <!-- Create App http://vk.com/editapp?act=create -->
    <add key="oauth.vkcom.ApplicationId" value="4372582" />
    <add key="oauth.vkcom.SecureKey" value="beCFl4Pz6FOQf3iBlDxB" />
    <add key="oauth.vkcom.Scope" value="friends,offline" />
    <add key="oauth.vkcom.ApiVersion" value="5.21" />
    <!--Create Odnoklassniki App at: http://www.odnoklassniki.ru/devaccess-->
    <add key="oauth.Odnoklassniki.ApplicationId" value="1089990656" />
    <add key="oauth.Odnoklassniki.PublicKey" value="CBABPIPBEBABABABA" />
    <add key="oauth.Odnoklassniki.SecretKey" value="B268138DF0BE3919FB1BBED8" />
    <add key="jwt.AuthKeyBase64" value="w85nuoW3GxKFpfG7YTmG2f1Lslcl3k5AFEOxvyi2EGM=" />
    <add key="jwt.RequireSecureConnection" value="false" />
    <add key="apikey.RequireSecureConnection" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.6">
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="ServiceStack" />
        <add assembly="ServiceStack.Razor" />
        <add assembly="ServiceStack.Text" />
        <add assembly="ServiceStack.OrmLite" />
        <add assembly="ServiceStack.AuthWeb.Tests" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
    </httpModules>
  </system.web>
  <!-- Required for IIS7 -->
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web.webPages.razor>
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="ServiceStack" />
        <add namespace="ServiceStack.Html" />
        <add namespace="ServiceStack.Razor" />
        <add namespace="ServiceStack.Text" />
        <add namespace="ServiceStack.OrmLite" />
        <add namespace="ServiceStack.AuthWeb.Tests" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="teststub.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date (GMT%date{%z}) [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date (GMT%date{%z}) [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <logger name="DotNetOpenAuth">
      <level value="ALL" />
      <appender-ref ref="MemoryAppender" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
  </glimpse>
</configuration>