@using ServiceStack.Razor
<div id="sidebar">
    <h4>Nested Razor Partials</h4>
    <div><a href="~/rockstars">~/rockstars</a></div>
    <div><a href="~/TypedModelNoController">~/TypedModelNoController</a></div>
    <div><a href="~/NoModelNoController">~/NoModelNoController</a></div>
    <div><a href="http://www.google.com">google.com</a></div>
</div>

<!--view:NestedRazorPartial.cshtml-->