<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <title>Auth Tests</title>
        <script type="text/javascript" src="~/jsonviewer.js"></script>
    </head>
    <body>        

        <h1>Auth Tests</h1>
        <div>
            @RenderBody()
        </div>	

    </body>
</html>