bin/
obj/
.idea/
latest/
/env-vars.bat
*.suo
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.resharper.user
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App_Data/
build/*.dll
*.user
*.userprefs

release/latest/
*.nupkg
release/*

src/ServiceStack.MonoTouch/.DS_Store
NuGet/
build/
*.DS_Store

*.dotCover

src/ServiceStack/Properties/Resources.resources

src/ServiceStack.userprefs

src/ServiceStack.userprefs
