#bower deps
**/wwwroot/lib/
bin/
obj/
.idea/
latest/
/projects
node_modules/
/env-vars.bat
ServiceStack/tests/NorthwindAuto/shared/css/ui.css
ServiceStack/tests/NetCoreTests/types/

*.txt
*.suo
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.resharper.user
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App_Data/
build/*.dll
*.user
*.userprefs
packages/
.vs/
.vscode/
*.lock.json
*.nuget.props
*.nuget.targets

release/latest/
*.nupkg
release/*
requestlogs/

*.DS_Store

NuGet/

*.dotCover

*.DotSettings
*.DotSettings.user

src/ServiceStack/Properties/Resources.resources

src/ServiceStack.userprefs
*.xap
src/ServiceStack.sln.DotSettings
