<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<!-- Required by memcached assemblies -->
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>	
	</configSections>

	<appSettings>
		<add key="MemcachedServers" value="172.20.0.98,172.20.0.99" />		
	</appSettings>

</configuration>