@page "/"

<h1>Hello, world!</h1>

Welcome to your new Blazor WASM app, if you're new to Blazor
<a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">checkout the docs</a> to get started.

<GettingStarted />

