<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

    <appSettings>
        <!-- Auth config -->
        <add key="oauth.RedirectUrl" value="http://localhost:11001/" />
        <!-- Should match with OAuth2's App Callback URL -->
        <add key="oauth.CallbackUrl" value="http://localhost:11001/auth/{0}" />
        <!-- Create Twitter App at: https://dev.twitter.com/apps -->
        <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA" />
        <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q" />
        <!-- Create Facebook App at: https://developers.facebook.com/apps -->
        <add key="oauth.facebook.Permissions" value="email" />
        <add key="oauth.facebook.AppId" value="1934838220075493" />
        <add key="oauth.facebook.AppSecret" value="2a546b53bc0151244eab85ddc2c165a1" />
        <!--Create GitHub App at: https://github.com/settings/applications/new -->
        <add key="oauth.github.Scopes" value="user" />
        <add key="oauth.github.ClientId" value="7e8a80ab55b757e7de05" />
        <add key="oauth.github.ClientSecret" value="122eb4d2762190d024dca6a319bc7c602ee942a2" />

        <!-- Create App https://oauth.yandex.ru/client/new  -->
        <add key="oauth.Yandex.AppId" value="4a453a7d9d594ad59233a075fefc244d" />
        <add key="oauth.Yandex.AppPassword" value="233973486c4c49c9952472503bf98d5e" />

        <!-- Create App http://vk.com/editapp?act=create -->
        <add key="oauth.vkcom.ApplicationId" value="4372582" />
        <add key="oauth.vkcom.SecureKey" value="beCFl4Pz6FOQf3iBlDxB" />
        <add key="oauth.vkcom.Scope" value="friends,offline" />
        <add key="oauth.vkcom.ApiVersion" value="5.21" />

        <add key="jwt.AuthKeyBase64" value="w85nuoW3GxKFpfG7YTmG2f1Lslcl3k5AFEOxvyi2EGM=" />
        <add key="jwt.RequireSecureConnection" value="false" />
        <add key="apikey.RequireSecureConnection" value="false" />
    </appSettings>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
