<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Global _Layout (/Pages/Dir)</title>
	</head>
	<body>
	<h1>Global _Layout</h1>
	<div>
		@RenderBody()
	</div>	
	</body>
</html>

<!--template:Pages/Dir/_Layout.cshtml-->
