@typeparam TValue
@inherits DateTimeInputBase<TValue>

<input type="date" id=@Id name=@Id @bind="CurrentValueAsDateTime" class=@ClassNames($"form-control", CssClass(invalid:"is-invalid")) 
       placeHolder=@UsePlaceholder @bind:event="oninput" aria-describedby=@($"{Id}-description") @attributes="IncludeAttributes" />
@if (!string.IsNullOrEmpty(UsePlaceholder) && Label != "")
{
    <label for=@Id>@UsePlaceholder</label>
}
@if (HasErrorField)
{
    <div class=@ClassNames("invalid-feedback", CssClass())>@ErrorFieldMessage</div>
}
else if (!string.IsNullOrEmpty(UseHelp))
{
    <div id=@($"{Id}-description") class="form-text">@UseHelp</div>
}
