@typeparam TValue
@inherits DateTimeInputBase<TValue>

<input type="date" class=@ClassNames($"form-control form-control-{Size}", CssClass(invalid:"is-invalid")) 
        id=@Id name=@Id @bind="CurrentValueAsDateTime" placeHolder=@UsePlaceholder @bind:event="oninput" @attributes="IncludeAttributes">
@if (!string.IsNullOrEmpty(UseLabel))
{
    <label for=@Id>@UseLabel</label>
}
@if (HasErrorField)
{
    <div class=@ClassNames("invalid-feedback", CssClass())>@ErrorFieldMessage</div>
}
