@if (Status.ShowSummary(VisibleFields ?? Array.Empty<string>()))
{
    <div class=@CssUtils.ClassNames("mt-2 mb-3 alert alert-danger", @class) role="alert">
        <span class="oi oi-warning me-2"></span>
        @Status.SummaryMessage(VisibleFields ?? Array.Empty<string>())
    </div>
}

@code {
    [Parameter]
    public string? @class { get; set; }
    [Parameter]
    public string[]? VisibleFields { get; set; }

    [Parameter, EditorRequired]
    public ResponseStatus? Status { get; set; }
}
