@if (Status.HasFieldError(Name!))
{
    <div class=@CssUtils.ClassNames("invalid-feedback", @class)>@Status.FieldErrorMessage(Name!)</div>
}

@code {
    [Parameter]
    public string? @class { get; set; }
    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter, EditorRequired]
    public ResponseStatus? Status { get; set; }
}
