@typeparam TValue
@inherits SelectInputBase<TValue>

<select id=@Id name=@Id class=@ClassNames($"form-control form-control-{Size}", CssClass()) 
        @bind="CurrentValue" placeHolder=@UseHelp @attributes="IncludeAttributes">
        @ChildContent
@foreach (var kvp in KvpValues())
{
    <option @key=@kvp.Key value=@kvp.Key>@kvp.Value</option>
}
</select>
@if (!string.IsNullOrEmpty(Help))
{
    <label for=@Id>@Help</label>
}
<ErrorField Status=@Status Id=@Id/>
