@typeparam TValue
@inherits TextInputBase<TValue>

<textarea class=@ClassNames($"form-control", CssClass(invalid:"is-invalid")) 
        id=@Id name=@Id @bind="CurrentValue" placeHolder=@UsePlaceholder @bind:event="oninput" @attributes="IncludeAttributes" />
@if (!string.IsNullOrEmpty(UseLabel))
{
    <label for=@Id>@UseLabel</label>
}
@if (HasErrorField)
{
    <div class=@ClassNames("invalid-feedback", CssClass())>@ErrorFieldMessage</div>
}
