<h2>Server HTML Forms Validation Examples</h2>

@if (IsAuthenticated) {
    <div>
        Hi @UserSession.DisplayName!
        <ul>
            <li><a href="contacts/">Manage Contacts</a></li>
            <li><a href="/auth/logout">Sign Out</a></li>
        </ul>
    </div>
} else {
    <div>
        <p>
            You're not authenticated, please Sign In:
        </p>
        <ul>
            <li><a href="login">Sign In</a></li>
            <li><a href="register">Register new User</a></li>
        </ul>
    </div>
}
