@page "/counter"
@inherits AppComponentBase

<h1 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100">
    Counter
</h1>

<p class="mb-4">Current count: <span class="font-medium">@currentCount</span></p>

<PrimaryButton @onclick="IncrementCount">Click me</PrimaryButton>

<ExampleCode Title="Source Code" Path="/Counter.razor" />

@code {
    int currentCount = 0;

    void IncrementCount() => currentCount++;
}
