@page "/"

<h1 class="mb-4 text-2xl font-semibold text-gray-900">
    Hello, World!
</h1>

<p>
    Welcome to your new Blazor WASM app, if you're new to Blazor
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">checkout the docs</a> to get started.
</p>


