<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!--[ServiceStack Specific]: Add the factory provider configuration handler -->
		<section name="objects" type="ServiceStack.Configuration.ObjectsConfigurationSectionHandler, ServiceStack, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>

	<!--[ServiceStack Specific]: How to configure 'providers at runtime', xml is compatible with Spring.NET xml configuration -->
	<objects>
		<!-- Example of redirecting all logging to the Console by using the 'ConsoleLogFactory' provider -->
		<object name="LogFactory" type="ServiceStack.Logging.Support.Logging.ConsoleLogFactory, ServiceStack.Interfaces"/>
		<!-- Different logging providers available out of the box. -->
		<!-- Uncommend Log4Net example below: (Note: you also will need to add log4net .dll and configuration) 		
			<object name="LogFactory" type="ServiceStack.Logging.Log4Net.Log4NetFactory, ServiceStack" />
		-->
	</objects>

	<appSettings>
		<add key="PerformTestsOnInit" value="true"/>
		<add key="ListenBaseUrl" value="http://localhost:81/"/>
		<add key="Db4oConnectionString" value="~/App_Data/exampledb.db4o"/>
		<add key="ServiceName" value="ServiceStack 'Console Host' Examples"/>
		<add key="DefaultFibonacciLimit" value="10"/>
	</appSettings>

</configuration>