<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="ListenBaseUrl" value="http://localhost:81/"/>
		<add key="PerformTestsOnInit" value="true"/>
		<add key="ConnectionString" value="~/App_Data/exampledb.sqlite"/>
		<add key="DefaultFibonacciLimit" value="10"/>
	</appSettings>

</configuration>