<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit 
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="webPages:Enabled" value="false" />

        <add key="background" value="/img/bg.jpg" />
        <add key="LimitRemoteControlToAuthenticatedUsers" value="False" />

        <!--<add key="RedisHost" value="127.0.0.1:6379" />-->

        <!-- Uncomment to use fan-out Redis Server Events -->
        <!--<add key="RedisHost" value="localhost:6379" />-->
        <!-- Auth config -->
        <add key="oauth.RedirectUrl" value="http://localhost:1337/" />
        <!-- Should match with OAuth2's App Callback URL -->
        <add key="oauth.CallbackUrl" value="http://localhost:1337/auth/{0}" />
        <!-- Create Twitter App at: https://dev.twitter.com/apps -->
        <add key="oauth.twitter.ConsumerKey" value="6APZQFxeVVLobXT2wRZArerg0" />
        <add key="oauth.twitter.ConsumerSecret" value="bKwpp31AS90MUBw1s1w0pIIdYdVEdPLa1VvobUr7IXR762hdUn" />
        <!-- Create Facebook App at: https://developers.facebook.com/apps -->
        <add key="oauth.facebook.Permissions" value="email,read_stream" />
        <add key="oauth.facebook.AppId" value="273152282888528" />
        <add key="oauth.facebook.AppSecret" value="458e362db7629b21c2ec7e02d2bf27fd" />
        <!--Create GitHub App at: https://github.com/settings/applications/new -->
        <add key="oauth.github.Scopes" value="user" />
        <add key="oauth.github.ClientId" value="5cb5eedbf0a8d1fccb1f" />
        <add key="oauth.github.ClientSecret" value="89b3b8885c4c05400f1d1538f82eaed5eb5d6224" />
    </appSettings>

</configuration>