@import "tailwindcss";
@source "../../src/ServiceStack/js/servicestack-vue.mjs";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;
    }
    :root.dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: hsl(var(--border));
    }
}

@theme {
    --default-ring-color: hsl(var(--ring));
}

@layer base {
    /*vue*/
    [v-cloak] {display:none}

    /* @tailwindcss/forms css */
    [type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='week'],[type='search'],[type='tel'],[type='time'],[type='color'],[multiple],textarea,select
    {-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border-width:1px;padding:0.5rem 0.75rem;font-size:1rem}
    [type='text']:focus,[type='email']:focus,[type='url']:focus,[type='password']:focus,[type='number']:focus,[type='date']:focus,[type='datetime-local']:focus,[type='month']:focus,[type='week']:focus,[type='search']:focus,[type='tel']:focus,[type='time']:focus,[type='color']:focus,[multiple]:focus,textarea:focus,select:focus{
        outline:2px solid transparent;outline-offset:2px;--tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);
        --tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;
        --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow:var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);border-color:#2563eb;}
    input::-moz-placeholder,textarea::-moz-placeholder{color:#6b7280;opacity:1}
    input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#6b7280;opacity:1}
    input::placeholder,textarea::placeholder{color:#6b7280;opacity:1}
    select{
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
        background-position:right 0.5rem center;background-repeat:no-repeat;background-size:1.5em 1.5em;padding-right:2.5rem;-webkit-print-color-adjust:exact;color-adjust:exact}
    [multiple]{
        background-image:initial;background-position:initial;background-repeat:unset;background-size:initial;padding-right:0.75rem;-webkit-print-color-adjust:unset;color-adjust:unset;}
    [type='checkbox'],[type='radio']{
        -webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0;-webkit-print-color-adjust:exact;color-adjust:exact;display:inline-block;
        vertical-align:middle;background-origin:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
        flex-shrink:0;height:1rem;width:1rem;color:#2563eb;background-color:#fff;border-width:1px}
    [type='radio']{border-radius:100%}
    [type='checkbox']:focus,[type='radio']:focus{
        outline:2px solid transparent;outline-offset:2px;
        --tw-ring-inset:var(--tw-empty,/*!*/ /*!*/);--tw-ring-offset-width:2px;--tw-ring-offset-color:#fff;--tw-ring-color:#2563eb;
        --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)}
    [type='checkbox']:checked,[type='radio']:checked{
        border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:center;background-repeat:no-repeat}
    [type='checkbox']:checked{
        background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")}
    [type='radio']:checked{
        background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")}
    [type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{
        border-color:transparent;background-color:currentColor}
    [type='checkbox']:indeterminate{
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
        border-color:transparent;background-color:currentColor;background-size:100% 100%;background-position:center;background-repeat:no-repeat}
    [type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{border-color:transparent;background-color:currentColor}
    [type='file']{background:unset;border-color:inherit;border-width:0;border-radius:0;padding:0;font-size:unset;line-height:inherit}
    [type='file']:focus{outline:1px auto -webkit-focus-ring-color;}
    [type='color']{height:2.4rem;padding:2px 3px}
    [type='range']{height:2.4rem}

    @media (min-width: 640px) {
        [type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='week'],[type='search'],[type='tel'],[type='time'],[type='color'],[multiple],textarea,select {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    /* dark mode autocomplete fields */
    .dark input:-webkit-autofill,
    .dark input:-webkit-autofill:hover,
    .dark input:-webkit-autofill:focus,
    .dark input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #ffffff;
    }
    .dark input[data-autocompleted] {
        background-color: transparent !important;
    }

    /* custom shared css */
    b, strong { font-weight:600; }
    ::-webkit-scrollbar{width:8px;height:8px}
    ::-webkit-scrollbar-thumb{background-color:#ccc}
    em {
        color: #3b82f6;
        font-weight: 400;
        background-color: #eff6ff;
        border-radius: 0.25rem;
        padding: 0.125em 0.5rem;
        margin-left: 0.125em;
        margin-right: 0.125em;
        font-style: normal;
    }
    .svg-lock {
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23B1B4B5%22%20d%3D%22M376.749%20349.097c-13.531%200-24.5-10.969-24.5-24.5V181.932c0-48.083-39.119-87.203-87.203-87.203c-48.083%200-87.203%2039.119-87.203%2087.203v82.977c0%2013.531-10.969%2024.5-24.5%2024.5s-24.5-10.969-24.5-24.5v-82.977c0-75.103%2061.1-136.203%20136.203-136.203s136.203%2061.1%20136.203%20136.203v142.665c0%2013.531-10.969%2024.5-24.5%2024.5z%22%2F%3E%3Cpath%20fill%3D%22%23FFB636%22%20d%3D%22M414.115%20497.459H115.977c-27.835%200-50.4-22.565-50.4-50.4V274.691c0-27.835%2022.565-50.4%2050.4-50.4h298.138c27.835%200%2050.4%2022.565%2050.4%2050.4v172.367c0%2027.836-22.565%2050.401-50.4%2050.401z%22%2F%3E%3Cpath%20fill%3D%22%23FFD469%22%20d%3D%22M109.311%20456.841h-2.525c-7.953%200-14.4-6.447-14.4-14.4V279.309c0-7.953%206.447-14.4%2014.4-14.4h2.525c7.953%200%2014.4%206.447%2014.4%2014.4v163.132c0%207.953-6.447%2014.4-14.4%2014.4z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        background-size: cover;
    }
    .svg-key {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffb636' d='M456.943 48.057c-64.075-64.075-167.962-64.075-232.038 0c-50.857 50.857-61.341 126.792-31.466 187.997l-45.691 45.691a3.594 3.594 0 0 0-1.052 2.59l.403 28.553a3.59 3.59 0 0 1-1.052 2.59l-23.879 23.879a3.591 3.591 0 0 1-3.249.981l-22.888-4.61a3.594 3.594 0 0 0-3.249.981L67.443 362.05a3.59 3.59 0 0 0-1.047 2.357l-1.458 28.668a3.592 3.592 0 0 1-3.881 3.397l-24.246-1.996a3.59 3.59 0 0 0-2.834 1.04l-22.05 22.05a3.59 3.59 0 0 0 0 5.079l10.938 10.937a3.59 3.59 0 0 1 0 5.079L14.526 447a3.595 3.595 0 0 0-1.051 2.456l-1.146 49.15a3.591 3.591 0 0 0 1.051 2.623l7.793 7.793c.72.72 1.711 1.1 2.727 1.047l47.721-2.49a3.586 3.586 0 0 0 2.352-1.047l194.973-194.973c61.205 29.875 137.14 19.391 187.997-31.466c64.076-64.074 64.076-167.961 0-232.036m-23.812 76.438c-14.532 14.532-38.094 14.532-52.626 0s-14.532-38.094 0-52.626c14.532-14.532 38.094-14.532 52.626 0c14.532 14.532 14.532 38.094 0 52.626'/%3E%3C/svg%3E") no-repeat;
        background-size: cover;
    }
    .svg-external {
        background: url("data:image/svg+xml,%3Csvg width='1.25rem' height='1.25rem' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M10 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M14 4h6m0 0v6m0-6L10 14' stroke='%231E40AF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E") no-repeat bottom right;
        padding-right: 1.35rem;
    }

    .loading .app { display: none }
    .when-loading { display: none }
    .loading .when-loading { display: block }

    .sm\:noauth-nopage\:hidden { display: block }
    .sm\:noauth-nopage\:block { display: none }
    .auth .sm\:auth\:hidden, .noauth .sm\:noauth\:hidden, .page .sm\:page\:hidden, .nopage .sm\:nopage\:hidden { display: block }
    .auth .sm\:auth\:block, .noauth .sm\:noauth\:block, .page .sm\:page\:block, .nopage .sm\:nopage\:block { display: none }

    .bg-gray-50 .hljs, .lg\:bg-gray-50 .hljs { background-color: transparent }
    [lang=json] .hljs-attr, .language-typescript .hljs-attr { color: rgb(17 24 39) }
    [lang=json] .hljs-string { color: rgb(21 128 61) }
    [lang=json] .hljs-number, [lang=json] .hljs-number { color:#00f }

    @media (max-width: 640px) {
        .auth .sm\:auth\:hidden, .noauth .sm\:noauth\:hidden, .page .sm\:page\:hidden, .nopage .sm\:nopage\:hidden { display: none }
        .auth .sm\:auth\:block, .noauth .sm\:noauth\:block, .page .sm\:page\:block, .nopage .sm\:nopage\:block { display: block }
        .noauth.nopage .sm\:noauth-nopage\:hidden { display: none }
        .noauth.nopage .sm\:noauth-nopage\:block { display: block }
    }
}

