@page "/gallery/autoquerygrid"

<h1 class="mb-4 text-3xl font-semibold text-gray-900">
    AutoQueryGrid Examples
</h1>

<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    Read Only
</h2>

<iframe class="w-full h-96" src="/gallery/autoquerygrid/readonly" />

<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    CRUD
</h2>

<iframe class="w-full h-96" src="/gallery/autoquerygrid/crud" />

<h2 class="mt-8 mb-4 text-2xl font-semibold text-gray-900">
    Custom Responsive Columns
</h2>

<iframe class="w-full h-96" src="/gallery/autoquerygrid/responsive" />
