@page "/gallery"

<h1 class="mb-4 text-2xl font-semibold text-gray-900">
    Component Gallery
</h1>

<h1 class="mb-4 text-xl font-semibold text-blue-600 hover:text-blue-800">
    <a href="/gallery/autoquerygrid">AutoQueryGrid</a>
</h1>


@code {

}
