@page "/gallery"
@layout MainLayout

<h1 class="mb-4 text-3xl font-semibold text-gray-900">
    Component Gallery
</h1>

<div class="p-4">
    <h2 class="mb-4 text-xl font-semibold text-blue-600 hover:text-blue-800">
        <a href="/gallery/datagrid">DataGrid</a>
    </h2>
    
    <h2 class="mb-4 text-xl font-semibold text-blue-600 hover:text-blue-800">
        <a href="/gallery/autoquerygrid">AutoQueryGrid</a>
    </h2>

    <h2 class="mb-4 text-xl font-semibold text-blue-600 hover:text-blue-800">
        <a href="/gallery/autoform">Auto Forms</a>
    </h2>

    <h2 class="mb-4 text-xl font-semibold text-blue-600 hover:text-blue-800">
        <a href="/gallery/inputs">Form Inputs</a>
    </h2>
</div>


@code {

}
