@inherits ServiceStack.Razor.ViewPage

﻿@{
    Layout = "SimplyLayout";
}

<div>CATCH ALL: @Model.Id</div>
<ul>
    @foreach (var name in Get<DataSource>().Items)
    {
        <li>@name</li>
    }
</ul>