@using ServiceStack.Html
@model CheckMvc.Controllers.HomeViewModel

<div>
    <h1>@Model.Name Page</h1>

    <h3>@Model.Name Counter: @Model.Counter</h3>
</div>

@ServiceStack.MiniProfiler.Profiler.RenderIncludes().AsRaw()
