@model CheckMvc.Controllers.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>MVC Home Index</title>
</head>
<body>
<div>
    <h1>@Model.Name Page</h1>

    <h3>@Model.Name Counter: @Model.Counter</h3>

    <h3>JSON</h3>
    <p>@Model.Json</p>
</div>
</body>
</html>