<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
	</configSections>
	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log"/>
			<staticLogFileName value="false"/>
			<countDirection value="1"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="'-'yyyy.MM.dd'.log'"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp from="donotreply@ddnglobal.com">
				<network host="mail.ddnglobal.local" port="25" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>
	
	<enyim.com>
		<memcached>
			<servers>
				<add address="172.20.0.98" port="11211"/>
				<add address="172.20.0.99" port="11211"/>
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
		</memcached>
	</enyim.com>
	
	<appSettings>
		<add key="LocalConnectionString" value="server=localhost;database=mysql;user id=root;password=root;Allow @ModelName@ Variables=true" />
		<add key="TestConnectionString" value="server=mysql;database=mysql;user id=test;password=test;Allow @ModelName@ Variables=true" />
		<add key="DatabaseName" value="@ServiceName@" />
		<add key="CreateSchemaScript" value=".\..\..\..\@ServiceNamespace@.DataAccess\Build\Database\database.sql" />
		<add key="ServerPrivateKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;l3X/ZqArhbXBAlgKmoVsOktCH5N38bFzf6GsKQvNAwMLPOMH2+J1a/4T6vxoQyBBrZ+LueHF2rDrBHFH1naIcQ==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;P&gt;xVWtAFdRPHWbbZ3XpuaAz7IQiTXXr6r82u+lD+I+btM=&lt;/P&gt;&lt;Q&gt;xH0PtsAiRmYWdbfumVNxbFfwBr0193lNOmRtUlPJiSs=&lt;/Q&gt;&lt;DP&gt;Vy2/jUwGFpi6ftXhxNlGhPtctNF1pST8Klj+6iKAhIM=&lt;/DP&gt;&lt;DQ&gt;Fz9cvpiY9Y9alO8AMe/neZQl+AYm/nLBqmj7bkQvkiU=&lt;/DQ&gt;&lt;InverseQ&gt;EURw/qRdIw0+1i03YBAjnW310JMS47AuqkkCMb4Yo0M=&lt;/InverseQ&gt;&lt;D&gt;QSwdAePZ1mcm7gNETMkskMjhYwTpj65zrG+8zMyvIqP7M9nY1y2GYmDmZs4u3ARZmNZIMH4F2SbWvFWZKTdqIQ==&lt;/D&gt;&lt;/RSAKeyValue&gt;" />
		<add key="StringResourcesFile" value="StringResources.txt"/>
	</appSettings>
</configuration>