<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0="/>

    <add key="EmptyKey" value=""/>
    <add key="RealKey" value="This is a real value"/>
    <add key="ListKey" value="A,B,C,D,E"/>
    <add key="IntKey" value="42"/>
    <add key="BadIntegerKey" value="This is not an integer"/>
    <add key="DictionaryKey" value="A:1,B:2,C:3,D:4,E:5"/>
    <add key="BadDictionaryKey" value="A1,B:"/>
    <add key="ObjectNoLineFeed" value="{SomeSetting:Test,SomeOtherSetting:12,FinalSetting:Final}"/>
    <add key="ObjectWithLineFeed" value="{SomeSetting:Test,
         SomeOtherSetting:12,
         FinalSetting:Final}"/>
    <add key="Email" value="{From:test@email.com,Subject:The Subject}"/>

  </appSettings>
  <connectionStrings>
    <add name="ServiceStack.Common.Tests.Properties.Settings.authConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\auth.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
