<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<!--[ServiceStack IOC]: Add the factory provider configuration handler -->
		<section name="objects" type="ServiceStack.Configuration.ObjectsConfigurationSectionHandler, ServiceStack, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
	</configSections>

	<!--[ServiceStack IOC]: How to configure 'providers at runtime', xml is compatible with Spring.NET xml configuration -->
	<objects>
		<!-- Example of redirecting all logging to the Console by using the 'DebugLogFactory' provider -->
		<!--<object name="LogFactory" type="ServiceStack.Logging.Support.Logging.DebugLogFactory, ServiceStack.Interfaces"/>-->
	</objects>

	<appSettings>
		<add key="ListenBaseUrl" value="http://localhost:81/"/>
		<add key="ServiceName" value="MonoTouch RemoteInfo"/>

		<add key="RootDirectory" value="~/../../"/>
		<add key="ExcludeDirectories" value=".svn,bin,Properties"/>
		<add key="TextFileExtensions" value=".txt,.sln,.proj,.cs,.config,.asax"/>
	</appSettings>

</configuration>