<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="ServiceStack" version="5.6.1" targetFramework="net472" />
  <package id="ServiceStack.Client" version="5.6.1" targetFramework="net472" />
  <package id="ServiceStack.Common" version="5.6.1" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="5.6.1" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.6.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>