<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerPrivateKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;dUWKXF2sihVNwLhnMK5zxaGKBh4KZqmyiww1a3bbHzSinP+bPFKROvtap44IzVe+1sjzc8xDRkcp9gMXx2+gfw==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;P&gt;uB1BBJoV7GWl7igS4+X5etWFJVhOq+yEaxVBfr9FxV0=&lt;/P&gt;&lt;Q&gt;ow8s1vWkpXD3mN98R3xz8xvzy/HHs0km3ctDZHP844s=&lt;/Q&gt;&lt;DP&gt;D6DUEwrtT3q1YgjeyZ+M1MNpIOllDCzwdJKCU7rytjU=&lt;/DP&gt;&lt;DQ&gt;EAr+LmgcuupScggLAj2Mau7lHbu8GjeoS0okZ03CI+E=&lt;/DQ&gt;&lt;InverseQ&gt;iQKvrfCEepEgDp5KXwUpPii+N6i3ournLkdgbKjd/fE=&lt;/InverseQ&gt;&lt;D&gt;TtOTkUqV86smPGi3VA2vXCSdNkdzDlb64GQwdC/MUkiRuKT/hfAVh01aNq2F/5vJDJqfGZJd3pwoy92tUfx34Q==&lt;/D&gt;&lt;/RSAKeyValue&gt;" />
	</appSettings>
</configuration>