<%-- 
Name: BusinessObject.cst
Author: Tom DuPont
Description: Generates a Business Object for NHibernate.
--%>
<%@ CodeTemplate Language="C#" Src="..\Helpers\NHibernateHelper.cs" Inherits="NHibernateHelper" TargetLanguage="C#" Debug="False" Description="Generates a Business Object for NHibernate." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Optional="False" Category="1a. Source Table" Description="The source table to generate from." %>
<%@ Property Name="ExcludedTables" Type="SchemaExplorer.TableSchemaCollection" Optional="True" Category="1b. Database Options" Description="A collection of tables to be excluded during generation." %>
<%@ Property Name="TablePrefix" Type="System.String" Default="" Optional="True" Category="1b. Database Options" Description="A prefix that will be stripped from table names when class names are generated." %>
<%@ Property Name="VsVersion" Type="VisualStudioVersion" Default="VS_2008" Optional="False" Category="2. Versions" Description="The version of Visual Studio to generate for." %>
<%@ Property Name="BusinessNamespace" Type="System.String" Default="NHibernate.Generated.BusinessObjects" Optional="False" Category="2. Namespaces" Description="The desired Namespace for the Business Objects." %>
<%@ Property Name="BaseNamespace" Type="System.String" Default="NHibernate.Generated.Base" Optional="False" Category="2. Namespaces" Description="The Namespace where the Base classes (BusinessBase & ManagerBase) are located." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Map Name="SystemCSharp" Src="System-CSharpAlias" %>
<% this.tablePrefix = TablePrefix; %>
using System;
using System.Collections;
using System.Collections.Generic;

using <%= BaseNamespace %>;

namespace <%= BusinessNamespace %>
{
    public partial class <%= GetClassName(SourceTable) %> : BusinessBase<<%= SystemCSharp[GetBusinessBaseIdType(SourceTable).ToString()] %>>
    {
        #region Declarations

		<% // Primary Keys %>
		<% if(IsMutliColumnPrimaryKey(SourceTable.PrimaryKey)) { %>
		<% foreach(MemberColumnSchema mcs in SourceTable.PrimaryKey.MemberColumns) { %>
		private <%= SystemCSharp[mcs.SystemType.ToString()] %> <%= GetPrivateVariableName(mcs) %> = <%= GetInitialization(mcs.SystemType) %>;
		<% } %>
		<% } %>
		
		<% // Primitives %>
		<% foreach(ColumnSchema column in SourceTable.NonKeyColumns) { %>
		private <%= SystemCSharp[column.SystemType.ToString()] %> <%= GetPrivateVariableName(column) %> = <%= GetInitialization(column.SystemType) %>;
		<% } %>
		
		<% // Many-To-One %>
		<% foreach(TableKeySchema tks in SourceTable.ForeignKeys) { %>
		<% foreach(MemberColumnSchema mcs in tks.ForeignKeyMemberColumns) { %>
		<% if(!ExcludedTables.Contains(tks.PrimaryKeyTable) && !mcs.IsPrimaryKeyMember) { %>
		private <%= GetClassName(tks.PrimaryKeyTable) %> <%= GetPrivateVariableName(tks.PrimaryKeyTable, mcs) %> = null;
		<% } %>
		<% } %>
		<% } %>
		
		<% // One-To-Many & Many-To-Many %>
		<% foreach(TableKeySchema tks in SourceTable.PrimaryKeys) { %>
		<% foreach(MemberColumnSchema mcs in tks.ForeignKeyMemberColumns) { %>
		<% if (!mcs.IsPrimaryKeyMember) { %>
		<% if (!IsManyToMany(mcs.Table)) { %>
		<% if (!ExcludedTables.Contains(mcs.Table)) { %>
		private IList<<%= GetClassName(mcs.Table) %>> <%= GetPrivateVariableNamePlural(mcs.Table, mcs) %> = new List<<%= GetClassName(mcs.Table) %>>();
		<% } %>
		<% } else { %>
		<% TableSchema foreignTable = GetToManyTable(mcs.Table, SourceTable); %>
		<% if (!ExcludedTables.Contains(foreignTable)) { %>
		private IList<<%= GetClassName(foreignTable) %>> <%= GetPrivateVariableNamePlural(foreignTable, mcs) %> = new List<<%= GetClassName(foreignTable) %>>();
		<% } %>
		<% } %>
		<% } %>
		<% } %>
		<% } %>
		
        #endregion

        #region Constructors

        public <%= GetClassName(SourceTable) %>() { }

        #endregion

        #region Methods

        public override int GetHashCode()
        {
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            
            sb.Append(this.GetType().FullName);
            <% foreach(ColumnSchema column in SourceTable.NonKeyColumns) { %>
			sb.Append(<%= GetPrivateVariableName(column) %>);
			<% } %>

            return sb.ToString().GetHashCode();
        }

        #endregion

        #region Properties

		<% // Primary Keys %>
		<% if(IsMutliColumnPrimaryKey(SourceTable.PrimaryKey)) { %>
		public override string Id
		{
			get
			{
				System.Text.StringBuilder uniqueId = new System.Text.StringBuilder();
				<% for(int x=0; x<SourceTable.PrimaryKey.MemberColumns.Count; x++) { %>
				<% if(x>0) { %>
				uniqueId.Append("^");
				<% } %>
				uniqueId.Append(<%= GetPrivateVariableName(SourceTable.PrimaryKey.MemberColumns[x]) %>.ToString());
				<% } %>
				return uniqueId.ToString();
			}
		}
		
		<% foreach(MemberColumnSchema mcs in SourceTable.PrimaryKey.MemberColumns) { %>
		public virtual <%= SystemCSharp[mcs.SystemType.ToString()] %> <%= GetPropertyName(mcs) %>
        {
            get { return <%= GetPrivateVariableName(mcs) %>; }
			set
			{
				
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(mcs) %>Changing();<% } %>
				<%= GetPrivateVariableName(mcs) %> = value;
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(mcs) %>Changed();<% } %>
			}
        }
		<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>
		partial void On<%= GetPropertyName(mcs) %>Changing();
		partial void On<%= GetPropertyName(mcs) %>Changed();
		<% } %>
		
		<% } %>
		<% } %>
		<% // Primitives %>
		<% foreach(ColumnSchema column in SourceTable.NonKeyColumns) { %>
		public virtual <%= SystemCSharp[column.SystemType.ToString()] %> <%= GetPropertyName(column) %>
        {
            get { return <%= GetPrivateVariableName(column) %>; }
			set
			{
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(column) %>Changing();<% } %>
				<%= GetPrivateVariableName(column) %> = value;
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(column) %>Changed();<% } %>
			}
        }
		<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>
		partial void On<%= GetPropertyName(column) %>Changing();
		partial void On<%= GetPropertyName(column) %>Changed();
		<% } %>
		
		<% } %>
		<% // Many-To-One %>
		<% foreach(TableKeySchema tks in SourceTable.ForeignKeys) { %>
		<% foreach(MemberColumnSchema mcs in tks.ForeignKeyMemberColumns) { %>
		<% if (!mcs.IsPrimaryKeyMember) { %>
		<% if(!ExcludedTables.Contains(tks.PrimaryKeyTable) && !mcs.IsPrimaryKeyMember) { %>
		public virtual <%= GetClassName(tks.PrimaryKeyTable) %> <%= GetPropertyName(tks.PrimaryKeyTable, mcs) %>
        {
            get { return <%= GetPrivateVariableName(tks.PrimaryKeyTable, mcs) %>; }
			set
			{
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(tks.PrimaryKeyTable, mcs) %>Changing();<% } %>
				<%= GetPrivateVariableName(tks.PrimaryKeyTable, mcs) %> = value;
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyName(tks.PrimaryKeyTable, mcs) %>Changed();<% } %>
			}
        }
		<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>
		partial void On<%= GetPropertyName(tks.PrimaryKeyTable, mcs) %>Changing();
		partial void On<%= GetPropertyName(tks.PrimaryKeyTable, mcs) %>Changed();
		<% } %>
		
		<% } %>
		<% } %>
		<% } %>
		<% } %>
		<% // One-To-Many & Many-To-Many %>
		<% foreach(TableKeySchema tks in SourceTable.PrimaryKeys) { %>
		<% foreach(MemberColumnSchema mcs in tks.ForeignKeyMemberColumns) { %>
		<% if (!mcs.IsPrimaryKeyMember) { %>
		<% if (!IsManyToMany(mcs.Table)) { %>
		<% if (!ExcludedTables.Contains(mcs.Table)) { %>
		public virtual IList<<%= GetClassName(mcs.Table) %>> <%= GetPropertyNamePlural(mcs.Table, mcs) %>
        {
            get { return <%= GetPrivateVariableNamePlural(mcs.Table, mcs) %>; }
            set
			{
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyNamePlural(mcs.Table, mcs) %>Changing();<% } %>
				<%= GetPrivateVariableNamePlural(mcs.Table, mcs) %> = value;
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyNamePlural(mcs.Table, mcs) %>Changed();<% } %>
			}
        }
		<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>
		partial void On<%= GetPropertyNamePlural(mcs.Table, mcs) %>Changing();
		partial void On<%= GetPropertyNamePlural(mcs.Table, mcs) %>Changed();
		<% } %>
		
		<% } %>
		<% } else { %>
		<% TableSchema foreignTable = GetToManyTable(mcs.Table, SourceTable); %>
		<% if (!ExcludedTables.Contains(foreignTable)) { %>
		public virtual IList<<%= GetClassName(foreignTable) %>> <%= GetPropertyNamePlural(foreignTable, mcs) %>
        {
            get { return <%= GetPrivateVariableNamePlural(foreignTable, mcs) %>; }
            set
			{
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyNamePlural(foreignTable, mcs) %>Changing();<% } %>
				<%= GetPrivateVariableNamePlural(foreignTable, mcs) %> = value;
				<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>On<%= GetPropertyNamePlural(foreignTable, mcs) %>Changed();<% } %>
			}
        }
		<% if(VsVersion.Equals(VisualStudioVersion.VS_2008)) { %>
		partial void On<%= GetPropertyNamePlural(foreignTable, mcs) %>Changing();
		partial void On<%= GetPropertyNamePlural(foreignTable, mcs) %>Changed();
		<% } %>
		
		<% } %>
		<% } %>
		<% } %>
		<% } %>
		<% } %>
        #endregion
    }
}
