<log4net debug="false">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

        <!-- ConsoleAppender uses PatternLayout -->
        <layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
        </layout>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to DebugFileAppender -->
    <root>
        <level value="DEBUG" />
    </root>
	
</log4net>