<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ServiceName" value="location.api.wildcard40" />
	</appSettings>

	<location path="api">
        <system.web>
            <httpHandlers>
                <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
            </httpHandlers>
        </system.web>

		<!-- Required for IIS7 -->
		<system.webServer>
            <modules runAllManagedModulesForAllRequests="true"/>
            <validation validateIntegratedModeConfiguration="false" />
            <handlers>
                <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
            </handlers>
        </system.webServer>
    </location>

	<!-- Required for MONO -->
	<system.web>
		<httpHandlers>
			<add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
		</httpHandlers>
	</system.web>

</configuration>
