@model TestCacheError
@{
    Layout = "_Layout";
    //Error is with _Layout.cshtml
}

<!DOCTYPE html>
<html>
<head>
    <title>Test Page Cache</title>
</head>
<body>
    <h1>Page created at @DateTime.Now.ToString("HH:mm:ss")</h1>
</body>
</html>
