<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MySQLDialect</property>
			<property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
			<property name="connection.connection_string">server=localhost;database=SakilaNHibernateService;uid=root;password=root</property>
			<mapping assembly="ServiceStack.SakilaNHibernate.DataAccess"/>
		</session-factory>
	</hibernate-configuration>
</configuration>