@layout HtmlReport
@model ModelErrorResponse

<h5>ModelError:    @ModelError.AsRawJson()</h5>
<p>ResponseStatus: @ResponseStatus.AsRawJson()</p>
<p>ResponseStatus: @ResponseStatus.ErrorCode</p>
<p>ResponseStatus: @ResponseStatus.Message</p>

<!--view:ModelError.cshtml-->