@model PartialModel
@{
    Layout = "Empty";
}

<!doctype html>
<html lang="en-us">
    <head>
        <title>Partial Model</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1>@Html.Raw("b&#225;i s&#232;")</h1>

        @foreach (var item in Model.Items)
        {
            <div>@Html.Partial("PartialChildModel", item)</div>
        }
    </body>
</html>
<!--template:PartialModel.cshtml-->