@model CustomUserSession

@{
    ViewBag.Title = "Auth Only Page";
}

<h2 class="success">Haz Access!</h2>

<p>
    Try viewing this page when <a href="/auth/logout?redirect=/RequiresRole">Logged Out</a>.
</p>
