@typeparam TValue
@inherits TextInputBase<TValue>

@if (UseType == Html.Input.Types.Textarea)
{
    <textarea type=@UseType id=@Id name=@Id @bind-value="CurrentValue" class=@ClassNames($"form-control", CssClass(invalid:"is-invalid"))
        placeHolder=@UsePlaceholder @bind-value:event="oninput" aria-describedby=@($"{Id}-description") @attributes="IncludeAttributes"></textarea>
}
else
{
    <input type=@UseType id=@Id name=@Id @bind-value="CurrentValue" class=@ClassNames($"form-control", CssClass(invalid:"is-invalid"))
        placeHolder=@UsePlaceholder @bind-value:event="oninput" aria-describedby=@($"{Id}-description") @attributes="IncludeAttributes" />
}

@if (!string.IsNullOrEmpty(UsePlaceholder) && Label != "")
{
    <label for=@Id>@UsePlaceholder</label>
}
@if (HasErrorField)
{
    <div class=@ClassNames("invalid-feedback", CssClass())>@ErrorFieldMessage</div>
}
else if (!string.IsNullOrEmpty(UseHelp))
{
    <div id=@($"{Id}-description") class="form-text">@UseHelp</div>
}
