<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log"/>
			<staticLogFileName value="false"/>
			<countDirection value="1"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="'-'yyyy.MM.dd'.log'"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	
	<appSettings>
		<add key="LocalConnectionString" value="server=localhost;database=mysql;user id=root;password=root;Allow Customer Variables=true" />
		<add key="TestConnectionString" value="server=mysql;database=mysql;user id=test;password=test;Allow Customer Variables=true" />
		<add key="DatabaseName" value="SakilaDb4oDemoService" />
		<add key="CreateSchemaScript" value=".\..\..\..\ServiceStack.SakilaDb4oDemo.DataAccess\Build\Database\schema.sql" />
	</appSettings>
</configuration>