<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.web.webPages.razor>
		<pages pageBaseType="ServiceStack.Razor.ViewPage">
			<namespaces>
				<add namespace="ServiceStack.Html"/>
				<add namespace="ServiceStack.Razor"/>
				<add namespace="ServiceStack.Text"/>
				<add namespace="ServiceStack.OrmLite"/>
				<add namespace="RazorRockstars.Console"/>
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<startup>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.81.0" newVersion="1.0.81.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
