<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="4.5.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net46" />
  <package id="System.Memory" version="4.5.1" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net46" />
</packages>