<?xml version="1.0"?>

<!--      
  For more information on how to configure your ASP.NET application, please visit    
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
 
<configuration> 
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <appSettings>
        <add key="webPages:Enabled" value="false" />
    </appSettings>

    <location path="api">
        <system.web>
            <httpHandlers>
                <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
            </httpHandlers>
        </system.web>
        <system.webServer>
            <handlers>
                <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
            </handlers>
        </system.webServer>
    </location>
    
    <system.web.webPages.razor>
        <pages pageBaseType="ServiceStack.Razor2.ViewPage">
            <namespaces>
                <add namespace="ServiceStack.Html" />
                <add namespace="ServiceStack.Razor2" />
                <add namespace="ServiceStack.Text" />
                <add namespace="ServiceStack.OrmLite" />
                <add namespace="RazorRockstars.Web" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <system.web>
        <httpHandlers>
            <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
        </httpHandlers>

        <compilation debug="true" targetFramework="4.0">
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor2.CSharpRazorBuildProvider, ServiceStack.Razor2, Version=3.9.44.0, Culture=neutral" />
            </buildProviders>
            <assemblies>
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="ServiceStack"/>
                <add assembly="ServiceStack.Razor2"/>
                <add assembly="ServiceStack.Text" />
                <add assembly="ServiceStack.OrmLite" />
                <add assembly="RazorRockstars.Web" />
            </assemblies>
        </compilation>
    </system.web>

    <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
