<script>
function ApiCode({ store }) {
    return {
        $template: '#api-code-template',
        store,
    }
}
Components.push({ ApiCode })
</script>
<template id="api-code-template">
<nav class="flex space-x-4 pl-2 pt-2.5 pb-1.5 border-b bg-white" aria-label="Tabs">
    <a v-for="(name,lang) in langs" :href="store.createHref({ lang })" @click.prevent="store.select({lang})"
       :class="[lang == store.useLang ? 'bg-gray-100 text-gray-700' : 'text-gray-500 hover:text-gray-700', 'px-3 py-1 font-medium text-sm rounded-md']">
        {{name}}
    </a>
</nav>
<div class="body-nav-content body-lang p-2">
    <div v-if="store.activeLangSrc" class="fixed right-0 mr-4" @click="store.copy(store.activeLangSrc)">
        <div class="copy hidden cursor-pointer p-1 rounded-md border block border-gray-200 bg-white hover:bg-gray-50">
            <svg v-if="store.copied" class="w-6 h-6 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
            <svg v-else xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500" viewBox="0 0 24 24"><g fill="none"><path d="M8 5H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1M8 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M8 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m0 0h2a2 2 0 0 1 2 2v3m2 4H10m0 0l3-3m-3 3l3 3" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>
        </div>
    </div>
    <pre v-if="store.activeLangSrc" class=""><code :lang="store.activeLang" v-highlightjs="store.activeLangSrc"></code></pre>
</div>
</template>