<script>
function AutoForm({ api, title, layout, error, onsubmit }) {
    return {
        $template: '#form-template',
        get api() { return api() },
        get title() { return title() },
        get error() { return error() },
        get gridClass() { return `grid grid-cols-6 gap-6` },
        get gridInputs() {
            let to = []
            layout().forEach(group => {
                group.forEach(input => {
                    to.push({ ...input, attrs:input, 'class': this.colClass(group.length) })
                })
            })
            return to
        },
        colClass(fields) {
            if (fields > 0 && fields < 3)
                return `col-span-6 sm:col-span-${Math.floor(6/fields)}`
            return `col-span-6`
        },
        humanify(id) { return humanize(toPascalCase(id)) },
        kvpValues(input) {
            return input.allowableEntries || (input.allowableValues||[]).map(x => ({ key:x, value:x }))
        },
        hasError(id) {
            return false
        },
        inputClass(input) {
            return ['block w-full sm:text-sm rounded-md', !this.hasError(input.id)
                ? 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300'
                : 'pr-10 border-red-300 text-red-900 placeholder-red-300 focus:outline-none focus:ring-red-500 focus:border-red-500'].join(' ')
        },
        onsubmit,
    }
}
Components.push({ AutoForm })
</script>
<template id="form-template">
<form @submit.prevent="onsubmit" autocomplete="off" :data-api="api">
    <div class="shadow overflow-hidden sm:rounded-md bg-white">
        <div class="relative px-4 py-5 bg-white sm:p-6">
            <fieldset>
                <legend class="text-lg text-gray-900 text-center mb-4">{{ title }}</legend>
                <div :class="gridClass">
                    <div v-for="input in gridInputs" :class="input.class">
                        <div v-if="input.type=='divider'" class="border-t"></div>
                        <input v-else-if="input.type=='hidden'" v-bind="input.attrs" type="hidden" />
                        <div v-else-if="input.type=='checkbox'">
                            <input v-bind="input.attrs" type="checkbox" />
                            <label v-if="input.label!==''" :for="input.id" class="block text-sm font-medium text-gray-700"
                                   v-html="input.label || humanify(input.id)"></label>
                        </div>
                        <div v-else>
                            <label v-if="input.label!==''" :for="input.id" class="block text-sm font-medium text-gray-700"
                                   v-html="input.label || humanify(input.id)"></label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <select v-if="input.type=='select'" v-bind="input.attrs" :class="inputClass(input)">
                                    <option v-if="input['data-type']=='Nullable`1'"></option>
                                    <option v-for="entry in kvpValues(input)" :value="entry.key">{{entry.value}}</option>
                                </select>
                                <textarea v-else-if="input.type=='textarea'" v-bind="input.attrs" :class="inputClass(input)"></textarea>
                                <input v-else v-bind="input.attrs" :class="inputClass(input)" :type="input.type||'text'" autocomplete="new-password" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="mt-4 px-4 py-3 bg-gray-50 text-right sm:px-6">
            <div class="flex justify-end">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
            </div>
        </div>
    </div>
</form>
</template>