<?xml version="1.0"?>

<!--
    Stub Web.config page to keep VS.NET / R# intelli-sense happy. (NOT used at runtime)
--> 

<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
    
    <system.web.webPages.razor>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <pages pageBaseType="ServiceStack.Razor2.ViewPage">
            <namespaces>
                <add namespace="ServiceStack.Html" />
                <add namespace="ServiceStack.Razor2" />
                <add namespace="ServiceStack.Text" />
                <add namespace="ServiceStack.OrmLite" />
                <add namespace="RazorRockstars.Console" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <system.web>
        <httpHandlers>
            <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
        </httpHandlers>

        <compilation debug="true" targetFramework="4.0">
            <buildProviders>
                <add extension=".cshtml" type="ServiceStack.Razor2.CSharpRazorBuildProvider, ServiceStack.Razor2" />
            </buildProviders>
            <assemblies>
	            <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="ServiceStack"/>
                <add assembly="ServiceStack.Razor2"/>
                <add assembly="ServiceStack.Text" />
                <add assembly="ServiceStack.OrmLite" />
                <add assembly="RazorRockstars.Console" />
            </assemblies>
        </compilation>
    </system.web>
	
</configuration>
