body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
span[data-click] {
    color: #007bff;
    cursor: pointer;
}
span[data-click]:hover {
    text-decoration: underline;
}
.quicklist span {
    display: block;
    margin-left: 1em;
}

form {
    padding: 10px;
}
table#results td {
    padding: 2px;
    text-indent: 5px;
}
table#results td:nth-child(2) {
    padding: 0 5px 0 15px;
}

.form-check.form-control {
    padding-left: 1.75rem;
}


