body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
[data-click] {
    color: #007bff;
    cursor: pointer;
}
[data-click]:hover {
    text-decoration: underline;
}
.quicklist span {
    display: block;
    margin-left: 1em;
}

form {
    padding: 10px;
}
td {
    padding: 2px;
    text-indent: 5px;
}
