@inherits AlertSuccessBase

@if (!string.IsNullOrEmpty(Message))
{
    <div class=@ClassNames("mt-2 mb-3 alert alert-success", CssClass()) role="alert">
        <span class="oi oi-check me-2"></span>
        @Message
    </div>
}
