<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

	<appSettings>
		<add key="webPages:Enabled" value="false" />
	</appSettings>
	
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="ServiceStack.RazorEngine.ViewPage">
			<namespaces>
				<add namespace="ServiceStack.Razor" />
				<add namespace="ServiceStack.Common" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	
  <system.web>
	  
	  <compilation debug="true" targetFramework="4.0">
		  <buildProviders>
			  <add extension=".cshtml" type="ServiceStack.RazorEngine.ServiceStack.ServiceStackCSharpRazorBuildProvider, ServiceStack.RazorEngine" />
		  </buildProviders>
		  <assemblies>
			  <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			  <add assembly="ServiceStack.Razor"/>
			  <add assembly="ServiceStack.Common"/>
		  </assemblies>
	  </compilation>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
	
</configuration>
