body {
    font: 16px Arial;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #444;
    background: url(https://servicestack.net/img/slide/image01.jpg) no-repeat left center fixed;
    background-size: cover;
    -webkit-background-size: cover;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-button {
	width: 6px;
	height: 0px;
}
::-webkit-scrollbar-track {
	background: #e6e6e6;
	border: thin solid lightgray;
    border-top: none;
	box-shadow: 0px 0px 3px #dfdfdf inset;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border: thin solid gray;
    border-top: none;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}
#top {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: #212121;
    opacity: .80;
}
ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    list-style: none;
}
li {
    display: block;
    float: left;
    padding: 4px 30px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px 0 0;
    opacity: .5;
}
a img {
    border: none;
}
#channels li.selected {
    opacity: .9;
}
li:hover {
    opacity: .8;
}
#announce {
    z-index: 3;
    display: none;
    position: absolute;
    top: 40px;
    line-height: 50px;
    width: 100%;
    background: #ffc;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.75);
}
#tv {
    z-index: 2;
    position: absolute;
    display: none;
    text-align: center;
    width: 85%;
    top: 40px;
}
#right {
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 0;
    width: 18%;
    min-width: 200px;
    height: 100%;
    color: #666;
    background: #fff;
    opacity: .85;
    border-left: 1px solid #212121;
}
#examples {
    position: fixed;
    bottom: 10px;
    right: .5%;
    width: 17%;
    min-width: 190px;
    font-size: 12px;
    background: #fcfcfc;
    overflow: hidden;
}
#examples h4 {
    margin: 0;
    padding: 5px 10px;
    background: #f1f1f1;
}
#examples a {
    color: #428bca;
    text-decoration: none;
    font-size: 13px;
}
#examples a:hover {
    color: #2a6496;
}
#examples div {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    padding: 0 5px;
    line-height: 28px;
}
#examples div:hover {
    background: #ffe;
    color: #222;
}
#examples span {
    color: #999;
    cursor: pointer;
}
#logs {
    position: fixed;
    left: -2px;
    bottom: 50px;
    width: 82%;
    max-height: 100%;
    overflow-y: auto;
}
#logs .channel {
    background: #fff;    
    opacity: .85;
    display: none;
}
#logs .channel.selected {
    display: block;
}
#users .channel {
    display: none;
}
#users .channel.selected {
    display: block;
}

#bottom {
    position: fixed;
    bottom: 0;
    height: 49px;
    width: 82%;
    background: #212121;
    opacity: .80;
}
#bottom input {
    font-size: 16px;
    margin: 6px 0 0 6px;
    padding: 4px 8px;
    width: 77%; 
}
#bottom button {
    padding: 4px 8px;
}
.open div {
    color: green;
}
.error div {
    color: red;
}
.event div {
    color: blue;
}
#social {
    float: right;
    padding: 5px;
}
#social a {
    display: inline-block;
    width: 77px;
    height: 20px;
    margin: 5px 5px 0 0;
}
.twitter { background: url(/img/twitter_normal.png) no-repeat; }
.facebook { background: url(/img/facebook_normal.png) no-repeat; }
.github { background: url(/img/github_normal.png) no-repeat; }
#welcome {
    float: left;
    margin: 0 5px 0 0;
    color: #f1f1f1;
}
#welcome span {
    line-height: 24px;
}
#welcome img {
    height: 24px; 
    margin: 0 0 0 5px;
    vertical-align: bottom;
}
.user img {
    height: 24px; 
    margin: 2px 5px 0 5px;
    vertical-align: bottom;
}
.user span {
    cursor: pointer;
}
.private {
    color: red;
}
.msg {
    border-top: 1px solid #eee;
}
.msg b, .msg div, .msg i {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    padding: 0 0 0 10px;
    font-style: normal;
    font-weight: normal;
}
.msg b {
    width: 200px;
    background: #fafafa;
}
.msg div {
}
.msg i {
    color: #999;
    float: right;
    padding: 0 10px 0 0;
}
.msg.highlight {
    background: #ffc;
}
