@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p><a href="/hello-auth?Name=About">ServiceStack Requires Auth</a></p>

<p><a href="/auth/logout">ServiceStack /auth/logout</a></p>

