@{
    ViewData["Title"] = "Manager";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Has 'Manager' role.</p>

<a href="/hello-manager?Name=Manager">ServiceStack Requires 'Manager' Role</a>
