@page "/grid"

<div class="bg-white dark:bg-black">
    <main class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex-shrink-0 pt-8">
            <img class="mx-auto h-20 w-auto" src="/img/blazor.svg" alt="Your Company">
        </div>
        <div class="mx-auto max-w-xl py-8 sm:py-16">
            <div class="text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
                    AutoQuery Grids
                </h1>
                <p class="mt-2 text-lg text-gray-500 dark:text-gray-400">
                    Rapidly Develop RDBMS Apps with AutoQuery Blazor Components
                </p>
            </div>
            <div class="mt-12">

                <h2 class="text-base font-semibold text-gray-500 dark:text-gray-400">Public Talent APIs</h2>
                <ul role="list" class="mt-4 divide-y divide-gray-200 dark:divide-gray-800 border-t border-b border-gray-200 dark:border-gray-800">

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Contact).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/contacts-meta" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Contacts Metadata
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Contacts customized with Metadata</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>
                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Contact).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/contacts" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Contacts 
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Contacts customized with Blazor</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>
                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(JobApplication).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/job-applications" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Job Applications
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Create and manage Job Applications</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>
                </ul>

                <h2 class="mt-8 text-base font-semibold text-gray-500 flex">
                    <span title="Requires Auth"><Icon class="h-6 w-6 mr-2" Svg=@Icons.Padlock /></span>
                    Secure Talent APIs
                </h2>
                <ul role="list" class="mt-4 divide-y divide-gray-200 dark:divide-gray-800 border-t border-b border-gray-200 dark:border-gray-800">
                    
                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Job).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/jobs" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Jobs
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Create and manage Job vacancies</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(JobApplicationComment).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/job-applications/comments" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Job Application Comments
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Moderate Job Application Comments</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(JobApplicationEvent).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/job-applications/events" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Job Application Events
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">View Job Application Events (read only)</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(PhoneScreen).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/phone-screens" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Phone Screens
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Report on Phone Screening Sessions</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Interview).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/interviews" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Interviews
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Schedule Job Interviews</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(JobOffer).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/job-offers" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Interviews
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Make or see pending Job Offers</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>

                </ul>


                <h2 class="mt-8 text-base font-semibold text-gray-500 flex">
                    <span title="Requires Auth"><Icon class="h-6 w-6 mr-2" Svg=@Icons.Padlock /></span>
                    Booking APIs
                </h2>
                <ul role="list" class="mt-4 divide-y divide-gray-200 dark:divide-gray-800 border-t border-b border-gray-200 dark:border-gray-800">
                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Booking).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/bookings" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Bookings
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Create and manage Bookings</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>
                    <li class="relative flex items-start space-x-4 py-6">
                        <div class="flex-shrink-0">
                            <span class="flex h-12 w-12 items-center justify-center rounded-lg bg-indigo-50 dark:bg-indigo-900">
                                <Icon class="w-6 h-6 text-indigo-700 dark:text-indigo-300" Image=@typeof(Coupon).GetIcon() />
                            </span>
                        </div>
                        <div class="min-w-0 flex-1">
                            <h3 class="text-base font-medium text-gray-900 dark:text-gray-100">
                                <span class="rounded-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2">
                                    <a href="/grid/coupons" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        Coupons
                                    </a>
                                </span>
                            </h3>
                            <p class="text-base text-gray-500">Create and manage discount Coupons</p>
                        </div>
                        <div class="flex-shrink-0 self-center">
                            <img class="h-5 w-5" src="/img/chevron-right.svg">
                        </div>
                    </li>
                </ul>


                <div class="mt-8 flex justify-between">

                    <a class="flex text-base font-medium text-indigo-600 hover:text-indigo-500" href="/gallery/autoquerygrid">
                        <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m16.7 4.5l2.8 2.8l-2.8 2.8l-2.8-2.8l2.8-2.8M9 5v4H5V5h4m10 10v4h-4v-4h4M16.7 1.7L11 7.3l5.7 5.7H13v8h8v-8h-4.3l5.6-5.7l-5.6-5.6M11 3H3v8h8V3M9 15v4H5v-4h4m2-2H3v8h8v-8Z" /></svg>
                        Gallery
                    </a>

                    <a class="flex text-base font-medium text-indigo-600 hover:text-indigo-500" href=@($"https://reference.servicestack.net/api/ServiceStack.Blazor.Components.Tailwind/{UrlSegment}")>
                        <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 6s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1V6Zm10 0s1.5-2 5-2s5 2 5 2v14s-1.5-1-5-1s-5 1-5 1V6Z" /></svg>
                        API Reference
                    </a>

                </div>
            </div>
        </div>
    </main>
    
</div>

@code {
    string UrlSegment => "AutoQueryGrid`Model`";
}