@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="mt-8 mx-auto max-w-lg">
    <Heading1>Forgot password confirmation</Heading1>

    <p class="my-4">
        Please check your email to reset your password.
    </p>
</div>

