@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="mt-8 mx-auto max-w-lg">

    <Heading3>Invalid user</Heading3>

    <div class="max-w-xl">
        <StatusMessage />
    </div>

</div>
