<h1>Static Markdown template</h1>

<p>
    paragraph
</p>

<h1>heading 1</h1>

<p>
    para
</p>

<h2>heading 2</h2>

<p>
    This is a <a href="http://www.servicestack.net">servicestack.net link</a>
</p>

<h3>heading 3</h3>
