<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
        </sectionGroup>
        <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true"/>
    </configSections>

    <appSettings>

      <add key="webPages:Enabled" value="false"/>
      <add key="RecreateAuthTables" value="True"/>
      <add key="AdminUserNames" value="demis.bellot@gmail.com"/>

      <!-- Auth config -->
      <add key="oauth.RedirectUrl" value="http://localhost:11001/"/>
      <!-- Should match with OAuth2's App Callback URL -->
      <add key="oauth.CallbackUrl" value="http://localhost:11001/auth/{0}"/>
      <!-- Create Twitter App at: https://dev.twitter.com/apps -->
      <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA"/>
      <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q"/>
      <!-- Create Facebook App at: https://developers.facebook.com/apps -->
      <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
      <add key="oauth.facebook.AppId" value="531608123577340"/>
      <add key="oauth.facebook.AppSecret" value="9e1e6591a7f15cbc1b305729f4b14c0b"/>
      <!-- Create Google App at: https://code.google.com/apis/console/ -->
      <add key="oauth.GoogleOAuth.ConsumerKey" value="731622862518.apps.googleusercontent.com"/>
      <add key="oauth.GoogleOAuth.ConsumerSecret" value="BvumMTV9VEyHj_2uMfDXHaaP"/>
      <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
      <add key="oauth.LinkedIn.ConsumerKey" value="ck8n5g2fxd6o"/>
      <add key="oauth.LinkedIn.ConsumerSecret" value="Mpy9Pl4uTnRrSee8"/>
      <!--Create GitHub App at: https://github.com/settings/applications/new -->
      <add key="oauth.github.Scopes" value="user"/>
      <add key="oauth.github.ClientId" value="7e8a80ab55b757e7de05"/>
      <add key="oauth.github.ClientSecret" value="122eb4d2762190d024dca6a319bc7c602ee942a2"/>
      
      
      <!-- Full details including repetitive RedirectUrl, CallbackUrl
    <add key="oauth.twitter.ConsumerKey" value="3H1FHjGbA1N0n0aT5yApA"/>
    <add key="oauth.twitter.ConsumerSecret" value="MLrZ0ujK6DwyjlRk2YLp6HwSdoBjtuqwXeHDQLv0Q"/>
    <add key="oauth.twitter.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.twitter.CallbackUrl" value="http://localhost:11001/auth/twitter"/>
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
    <add key="oauth.facebook.AppId" value="531608123577340"/>
    <add key="oauth.facebook.AppSecret" value="9e1e6591a7f15cbc1b305729f4b14c0b"/>
    <add key="oauth.facebook.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.facebook.CallbackUrl" value="http://localhost:11001/auth/facebook"/>
    <add key="oauth.GoogleOpenId.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.GoogleOpenId.CallbackUrl" value="http://localhost:11001/auth/GoogleOpenId"/>
    <add key="oauth.YahooOpenId.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.YahooOpenId.CallbackUrl" value="http://localhost:11001/auth/YahooOpenId"/>
    <add key="oauth.OpenId.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.OpenId.CallbackUrl" value="http://localhost:11001/auth/OpenId"/>
    <add key="oauth.GoogleOAuth.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.GoogleOAuth.CallbackUrl" value="http://localhost:11001/auth/GoogleOAuth"/>
    <add key="oauth.GoogleOAuth.ConsumerKey" value="731622862518.apps.googleusercontent.com"/>
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="BvumMTV9VEyHj_2uMfDXHaaP"/>
    <add key="oauth.LinkedIn.RedirectUrl" value="http://localhost:11001/"/>
    <add key="oauth.LinkedIn.CallbackUrl" value="http://localhost:11001/auth/LinkedIn"/>
    <add key="oauth.LinkedIn.ConsumerKey" value="ck8n5g2fxd6o"/>
    <add key="oauth.LinkedIn.ConsumerSecret" value="Mpy9Pl4uTnRrSee8"/>-->

    </appSettings>

    <system.web.webPages.razor>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <pages pageBaseType="ServiceStack.Razor.ViewPage">
            <namespaces>
                <add namespace="ServiceStack.Html"/>
                <add namespace="ServiceStack.Razor"/>
                <add namespace="ServiceStack.Text"/>
                <add namespace="ServiceStack.Auth.Tests"/>
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>            
        </assemblyBinding>
    </runtime>
    
  <dotNetOpenAuth>
    <openid>
      <provider>
        <security requireSsl="false" unsolicitedAssertionVerification="RequireSuccess"/>
        <behaviors>
          <!-- Behaviors activate themselves automatically for individual matching requests. 
               The first one in this list to match an incoming request "owns" the request.  If no
               profile matches, the default behavior is assumed. -->
          <!--<add type="DotNetOpenAuth.OpenId.Provider.Behaviors.PpidGeneration, DotNetOpenAuth" />-->
        </behaviors>
        <!-- Uncomment the following to activate the sample custom store.  -->
        <!--<store type="OpenIdProviderWebForms.Code.CustomStore, OpenIdProviderWebForms" />-->
        <store type="ServiceStack.Auth.Tests.InMemoryOpenIdApplicationStore, ServiceStack.Auth.Tests"/>
      </provider>
    </openid>
    <!--<messaging clockSkew="00:10:00" lifetime="00:03:00" strict="true">
      <untrustedWebRequest
          timeout="00:00:10"
          readWriteTimeout="00:00:01.500"
          maximumBytesToRead="1048576"
          maximumRedirections="10">
        <whitelistHosts>
          --><!-- since this is a sample, and will often be used with localhost --><!--
          --><!-- <add name="localhost" /> --><!--
        </whitelistHosts>
        <whitelistHostsRegex>
          --><!-- since this is a sample, and will often be used with localhost --><!--
          --><!-- <add name="\.owndomain\.com$" /> --><!--
        </whitelistHostsRegex>
        <blacklistHosts>
        </blacklistHosts>
        <blacklistHostsRegex>
        </blacklistHostsRegex>
      </untrustedWebRequest>
    </messaging>-->
  </dotNetOpenAuth>
    
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
