/*http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212*/
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
BODY
{
	line-height: 1;
}
OL, UL
{
	list-style: none;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
	content: none;
}
/*remember to define focus styles!*/
:focus
{
	outline: 0;
}
/*remember to highlight inserts somehow!*/
INS
{
	text-decoration: none;
}
DEL
{
	text-decoration: line-through;
}
/*tables still need 'cellspacing="0"' in the markup*/
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset
start global element styles*/
BODY
{
	font: 13px/18px Arial;
	color: #333;
	width: 830px;
}
BODY.host
{
	background: url(bg-body.png) repeat-y;
	padding-left: 40px;
	padding-bottom: 40px;
}
.r
{
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
}
H2
{
	color: #555;
	font: 24px Arial;
	padding: 15px 0;
}
P
{
	line-height: 1.5em;
	margin-bottom: 10px;
}
P A
{
	margin: 0 0.2em;
}
ACRONYM
{
	margin: 0 0.2em;
	border-bottom: 1px dotted #333;
	background: #F1FCF1;
}
H3
{
	color: #063;
}
H4
{
	color: #555;
	margin: 1em 0 0.5em;
	font: bold 18px/24px Arial;
}
UL
{
	list-style-type: square;
	line-height: 1.5em;
	padding-left: 20px;
}
A IMG
{
	border: none;
}
#btn-googlecode
{
	margin: 8px 0 0 635px;
	position: absolute;
}
H3#logo-title
{
	margin-top: -57px;
	margin-right: 0;
	margin-bottom: 17px;
	margin-left: 120px;
	color: #0E5710;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
}
#breadcrumbs
{
	padding: 0 0 4px 120px;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 5px;
}
#breadcrumbs A
{
	color: #0E5710;
}
#breadcrumbs A.selected
{
	text-decoration: none;
	color: #000;
}
#footer
{
	border-top: 1px solid #DCDCDC;
	font-size: 11px;
	color: #666;
	padding: 4px 0 0 10px;
	margin-top: 40px;
}
#content
{
	width: 800px;
	padding: 20px;
}
#img-overview
{
	float: right;
	margin: 0 0 0 20px;
}
#img-overview IMG
{
	border: 1px solid #7BB682;
}
#img-overview A
{
	display: block;
	text-align: center;
	margin: 8px 0 0;
}
#download
{
	margin: -60px 0 20px 10px;
	padding: 10px;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width: 320px;
	text-align: center;
	float: right;
}
#download H2
{
	margin: 0;
	padding: 0;
}
#download SPAN
{
	display: block;
	margin: 10px;
	color: #666;
	font-size: 12px;
}
.section
{
}
#sub-components
{
	margin-top: 60px;
}
#sub-components SPAN.summary
{
	padding: 10px;
	margin: 0;
	display: block;
	background: #F1F1F1;
}
.sub-component
{
	padding-top: 20px;
	height: 300px;
	float: left;
	width: 380px;
	padding-right: 20px;
}
.sub-component .lnk-component
{
	background: url(btn-subcomponent.png) no-repeat;
	display: block;
	width: 122px;
	height: 37px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	padding: 32px 0 0 61px;
	margin: 0 0 10px;
}
.sub-component DL
{
	font-size: 11px;
	/*[disabled]color:#666;*/
	margin: 0 0 10px;
}
DL
{
	margin-bottom: 10px;
}
CODE.inline
{
	color: rgb(12, 82, 201);
}
#img-metadata
{
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	margin-bottom: 20px;
}
