<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RedisHostAddress" value="localhost:6379"/>
		<add key="RunIntegrationTests" value="False"/>
		<add key="IntegrationTestsBaseUrl" value="http://localhost/RedisWebServices.Host/Public/"/>
		<!--<add key="IntegrationTestsBaseUrl" value="http://www.servicestack.net/RedisWebServices.Host/Public/"/>-->
	</appSettings>
</configuration>