<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.11.0" targetFramework="net46" />
  <package id="ServiceStack.Text" version="5.5.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.2" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
</packages>