<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0="/>

    <add key="EmptyKey" value=""/>
    <add key="RealKey" value="This is a real value"/>
    <add key="ListKey" value="A,B,C,D,E"/>
    <add key="IntKey" value="42"/>
    <add key="BadIntegerKey" value="This is not an integer"/>
    <add key="DictionaryKey" value="A:1,B:2,C:3,D:4,E:5"/>
    <add key="BadDictionaryKey" value="A1,B:"/>
    <add key="ObjectNoLineFeed" value="{SomeSetting:Test,SomeOtherSetting:12,FinalSetting:Final}"/>
    <add key="ObjectWithLineFeed" value="{SomeSetting:Test,
         SomeOtherSetting:12,
         FinalSetting:Final}"/>

  </appSettings>
  <connectionStrings>
    <add name="ServiceStack.Common.Tests.Properties.Settings.authConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\auth.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
