<?xml version="1.0" encoding="utf-8" ?>
<!-- TeamCity will copy this config into app.config -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Redis.Host" value="10.50.0.198:6379" />
  </appSettings>
  <connectionStrings>
    <add name="ServiceStack.Common.Tests.Properties.Settings.authConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\auth.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
