<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.0.2" targetFramework="net46" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.0" targetFramework="net46" />
  <package id="NUnit" version="3.5.0" targetFramework="net46" />
  <package id="RabbitMQ.Client" version="3.6.5" targetFramework="net461" />
</packages>