
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Some Title</title>
</head>
    <body>
        <h3>/_Layout.cshtml</h3>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
