<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 
        AppSetting "webpages:Enabled" must be false otherwise 
        System.Web.WebPages - Registers its own HttpModule - System.Web.WebPages.WebPageHttpModule
        Ultimately, System.Web.WebPages.WebPageHttpHandler handles the request.
        
        System.Web.WebPages.WebPageRoute ultimately remaps the HTTP handler and checks:

        if (!WebPagesDeployment.IsExplicitlyDisabled(path))
        {
            IHttpHandler handler = WebPageHttpHandler.CreateFromVirtualPath(path);
            if (handler != null)
            {
                context.RemapHandler(handler);
            }
        }

        -->
    <add key="webpages:Enabled" value="false"/>
    <add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0="/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <!--<add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor, Version=3.9.*, Culture=neutral" />-->
      </buildProviders>
      <assemblies>
        <add assembly="ServiceStack"/>
        <add assembly="ServiceStack.Razor"/>
        <add assembly="ServiceStack.Text"/>
        <add assembly="ServiceStack.OrmLite"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral" verb="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <!-- This is needed to change the base type to service stack's base type
         so we can gain correct intellisense for our razor views.-->
  <system.web.webPages.razor>
    <pages pageBaseType="ServiceStack.Razor.ViewPage, ServiceStack.Razor">
      <namespaces>
        <add namespace="ServiceStack.Html"/>
        <add namespace="ServiceStack.Razor"/>
        <add namespace="ServiceStack.Text"/>
        <add namespace="ServiceStack.OrmLite"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <!-- Required for IIS 7.0 -->
  <system.webServer>
    <handlers>
      <clear/>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!-- Logging -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="f1" xsi:type="File" fileName="${basedir}/Log.txt" deleteOldFileOnStartup="true" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="f1"/>
    </rules>
  </nlog>
</configuration>