<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.25.3" targetFramework="net46" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.14.2" targetFramework="net46" />
  <package id="AWSSDK.S3" version="3.3.23.2" targetFramework="net46" />
  <package id="AWSSDK.SQS" version="3.3.3.19" targetFramework="net46" />
  <package id="DnsClient" version="1.2.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.7.0" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.7.0" targetFramework="net46" />
  <package id="MsgPack.Cli" version="1.0.0" targetFramework="net46" />
  <package id="NUnit" version="3.10.1" targetFramework="net46" />
  <package id="ServiceStack" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Aws" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Client" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Common" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.OrmLite" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.OrmLite.Sqlite" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Redis" version="5.4.1" targetFramework="net46" />
  <package id="ServiceStack.Text" version="5.4.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net46" />
  <package id="System.Memory" version="4.5.1" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="Wire" version="0.8.2" targetFramework="net45" />
</packages>