<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.21.6" targetFramework="net46" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.5" targetFramework="net46" />
  <package id="DnsClient" version="1.0.7" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.5.0" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.5.0" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.5.0" targetFramework="net46" />
  <package id="MsgPack.Cli" version="0.9.2" targetFramework="net46" />
  <package id="NUnit" version="3.9.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="Wire" version="0.8.2" targetFramework="net45" />
</packages>