@{
    var title = ((string) ViewBag.Title).ToLowerInvariant();
    var links = new Dictionary<string, string> {
        {"/stars/dead/cobain/","Kurt Cobain"},
        {"/stars/dead/hendrix/","Jimi Hendrix"},
        {"/stars/dead/jackson/","Michael Jackson"},
        {"/stars/dead/joplin/","Janis Joplin"},
        {"/stars/dead/presley/","Elvis Presley"},
    };
}
<div class="menu">
    <ul>
        <li class="label"><b>Past Rockstars:</b></li>
        @foreach (var link in links)
        {
            var active = link.Value.ToLowerInvariant() == title ? "active" : "";
            <li class="@active"><a href="@link.Key">@link.Value</a></li>
        } 
    </ul>                
</div>
