<div id="sidebar">
    <h4>Other Pages</h4>
    <div><a class="home" href="/">/home</a></div>
    <div><a class="rzr" href="/TypedModelNoController">/TypedModelNoController</a></div>
    <div><a class="rzr" href="/NoModelNoController">/NoModelNoController</a></div>
</div>