
<h2>ServiceStack Test Links</h2>

<h3>Razor Rockstars</h3>
<ul>
    <li><a href="/metadata">/metadata</a></li>
    <li><a href="/rockstars">/rockstars</a></li>
    <li><a href="/stars/dead/cobain/">/stars/dead/cobain/</a></li>
    <li><a href="/stars/alive/Grohl">/stars/alive/Grohl</a></li>
    <li><a href="/TypedModelNoController">/TypedModelNoController</a></li>
    <li><a href="/NoModelNoController">/NoModelNoController</a></li>
    <li><a href="/notfound">/notfound</a></li>
    <li><a href="/login">/login</a></li>
</ul>

<h3>Pages</h3>
<ul>
    <li><a href="/">/</a></li>
    <li><a href="/root">/root</a></li>
    <li><a href="/nested/page">/nested/page</a></li>
    <li><a href="/nested/folder/">/nested/folder/</a></li>
</ul>