@model CheckMvc.Controllers.HomeViewModel

<!DOCTYPE html>

<html>
<head>
    <title>MVC Home Index</title>
</head>
<body>
<div>
    <h1>@Model.Name Page</h1>

    <h3>@Model.Name Counter: @Model.Counter</h3>

    <h3>JSON</h3>
    <p>@Model.Json</p>
    
    <h3>To: /api/addsmrimportrequest/2017/8/30/9/2017/0/0/xxxxuser/192.168.23.64</h3>
    
    <form action="/api/addsmrimportrequest/2017/8/30/9/2017/0/0/xxxxuser/192.168.23.64" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit"/>
    </form>
</div>
</body>
</html>