<!--
title: SVG Images
layout: _script-layout
-->

<style>
body {
    background: #eceff1;
}

code {
    color: #222;
}

.cssfile .svg {
    display: inline-block;
    margin: 0 4px;
}
.cssfile .svg code, .cssfile .svg b {
    display: block;
    text-align: center;
}
.cssfile .svg code {
    border-radius: 6px;
    background: #cfd8dc;
}
.cssfile .svg div {
    width: 150px;
    height: 150px;
    background-size: 142px 142px;
    background-position: 5px 4px;
    display: inline-block;
    background-repeat: no-repeat;
}
td, th {
    vertical-align: top;
}
table.usage {
    width: 100%;
}
table.ref-css th {
    padding-right: 20px;
}

.tiptext {
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin: 0 0 20px 30px;
    display: inline-block;
    
    z-index: 1;
    opacity: .4;
    transition: opacity 0.3s;
}
button {
    user-select: auto !important;
}
.sel {
    cursor: pointer;
}
.sel.btn {
    background-color: #cfd8dc;
    border-color: #cfd8dc;
}
</style>

{{ 'buttons' | cssIncludes }}


{{#each svgCssFiles}}
<div class="mb-5 cssfile">
    
    <h3 class="my-4">/css/{{it.Key}}.css</h3>
    
    {{ it.Key | cssIncludes }}
    
    {{#each name in it.Value}}
    <div class="my-1 svg">
        <b>{{name}}</b>
        <div class="svg-{{name}}"></div>
        <code class="sel">.svg-{{name}}</code>
    </div>
    {{/each}}
    
    <table class="usage mt-4">
        <tr>
            <td>
                <h6>&lt;button class="btn btn-social btn-light btn-block"&gt;</h6>
                <div class="my-1 svg">
                    {{#each name in it.Value}}
                    <button class="sel btn btn-social btn-light btn-block">
                        <i class="fab fa-{{name}}"></i>
                        &lt;i class="fab fa-{{name}}"&gt;&lt;/i&gt;
                    </button>
                    {{/each}}
                </div>
            </td>
            <td>
                <h5>#Script</h5>
                <div>
                    <div class="sel"><code>{{#raw}} {{ {{/raw}} {{ `'${it.Value[0]}'` }} | svgImage {{#raw}} }} {{/raw}} </code></div>
                    <div>
                        {{ `${it.Value[0]}` | svgImage }}
                    </div>
                </div>
                <div class="my-1">
                    <div class="sel"><code>{{#raw}} {{ {{/raw}} {{ `'${it.Value[0]}'` }} | svgImage('#e53935') {{#raw}} }} {{/raw}} </code></div>
                    <div>
                        {{ `${it.Value[0]}` | svgImage('#e53935') }}
                    </div>
                </div>
                <h5>Data URI</h5>
                <div class="sel"><code>{{#raw}} {{ {{/raw}} {{ `'${it.Value[0]}'` }} | svgDataUri {{#raw}} }} {{/raw}} </code></div>
                <div class="sel"><code>{{#raw}} {{ {{/raw}} {{ `'${it.Value[0]}'` }} | svgDataUri('#e53935') {{#raw}} }} {{/raw}} </code></div>
            </td>
            <td>
                <h5>Razor</h5>
                <div class="sel"><code>@Html.SvgImage("{{ `${it.Value[0]}` }}")</code></div>
                <div class="sel"><code>@Html.SvgImage("{{ `${it.Value[0]}` }}", "#e53935")</code></div>

                <h5 class="mt-2">Data URI</h5>
                <div class="sel"><code>@Html.SvgDataUri("{{ `${it.Value[0]}` }}")</code></div>
                <div class="sel"><code>@Html.SvgDataUri("{{ `${it.Value[0]}` }}", "#e53935")</code></div>
                
                <h5 class="mt-3">CSS</h5>
                <div class="sel">
<code style="white-space: pre-wrap">.svg-resize-example {
  width: 150px;
  height: 150px;
  background-size: 142px 142px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
}
</code>
                </div>
            </td>
        </tr>
    </table>

    <span class="tiptext">Click to copy to clipboard</span>
    
    <h4 class="mt-2">Reference all svg icons via css</h4>
    
    <table class="ref-css">
        <tr>
            <th>Link stylesheet</th>
            <td class="sel">
                &lt;link rel="stylesheet" href="/css/buttons.css"&gt;<br>
                &lt;link rel="stylesheet" href="/css/{{it.Key}}.css"&gt;
            </td>
        </tr>
        <tr>
            <th>#Script inline style</th>
            <td class="sel">
                {{#raw}} {{ {{/raw}} 'buttons,{{it.Key}}' | cssIncludes{{#raw}} }} {{/raw}}
            </td>
        </tr>
        <tr>
            <th>Razor inline style</th>
            <td class="sel">
                @Html.CssIncludes("buttons","{{it.Key}}")
            </td>
        </tr>
    </table>

</div>
{{/each}}

<script>
var timeout;
document.querySelectorAll('.sel').forEach(function(sel) {
    sel.onclick = function(e) {
        var el = e.target;
        if (window.getSelection) {
            var selection = window.getSelection();
            var range = document.createRange();
            range.selectNodeContents(el);
            selection.removeAllRanges();
            selection.addRange(range);
            document.execCommand("copy");
            
            var tooltip;
            while (!tooltip|| !el) {
                tooltip = el.querySelector('.tiptext');
                el = el.parentElement; 
            }
            tooltip.innerHTML = 'Copied!';
            tooltip.style.opacity = 1;
            tooltip.style.visibility = 'visible';
            
            if (timeout) {
                clearTimeout(timeout);
                timeout = null;
            } 
            
            timeout = setTimeout(function () {
                window.getSelection().removeAllRanges();
                tooltip.style.opacity = .4;
                tooltip.innerHTML = 'Click to copy to clipboard';
            }, 2000);
        }
    };
    
});
</script>
