@inherits ServiceStack.Razor.ViewPage<ViewStateResponse>

@{
    Layout = "_ViewStateLayout";
    bool isNull = Html.HttpRequest == null;
}

<div>
    <p>Html.HttpRequest is null on viewpage: @isNull</p>
    @Html.Partial("_RawUrlPartial")
</div>