.btn-social.btn-xs {padding:0 0 0 30px}
.btn-social.btn .fab, .btn-social-icon.btn .fab, .btn-social.btn-md .fab, .btn-social-icon.btn-md .fab {width:36px;height:36px;background-size:28px 28px;background-position:3px 3px;background-repeat:no-repeat}
.btn-social-icon.btn .fab, .btn-social-icon.btn-md .fab {background-position:2px 2px}
.btn-social.btn-lg .fab, .btn-social-icon.btn-lg .fab {width:45px; height:45px; background-size:39px 39px; background-position:4px 4px; background-repeat:no-repeat}
.btn-social-icon.btn-lg .fab {background-position:2px 2px}
.btn-social.btn-sm .fab, .btn-social-icon.btn-sm .fab {width:30px; height:30px; background-size:24px 24px; background-position:2px 2px; background-repeat:no-repeat}
.btn-social.btn-xs .fab, .btn-social-icon.btn-xs .fab {width:24px; height:24px; background-size:20px 20px; background-position:2px 2px; background-repeat:no-repeat}
.btn-social-icon.btn-xs .fab {background-position:0px 0px}
.svg-btn,.svg-btn-icon { background-repeat:no-repeat;cursor:pointer;user-select:none; }
.svg-xs, .svg-sm, .svg-md, .svg-lg, .svg-2x, .svg-3x, .svg-4x, .svg-5x, .svg-6x, .svg-7x, .svg-8x, .svg-9x, .svg-10x, .svg-11x, .svg-12x, .svg-13x, .svg-14x {
background-position:0;background-repeat:no-repeat;display: inline-block;background-size: contain;vertical-align: middle;}
.svg-xs {width:12px;height:12px}.svg-sm {width:14px;height:14px}.svg-md {width:18px;height:18px}.svg-lg {width:24px;height:24px}.svg-2x {width:32px;height:32px}
.svg-3x {width:48px;height:48px}.svg-4x {width:64px;height:64px}.svg-5x {width:80px;height:80px}.svg-6x {width:96px;height:96px}.svg-7x {width:112px;height:112px}
.svg-8x {width:128px;height:128px}.svg-9x {width:144px;height:144px}.svg-10x {width:160px;height:160px}.svg-11x {width:180px;height:180px}
.svg-12x {width:204px;height:204px}.svg-13x {width:232px;height:232px}.svg-14x {width:264px;height:264px}
