@model CustomUserSession

@{
    ViewBag.Title = "Requires Role Page";
}

<h2 class="success">Haz Access!</h2>

<p>
    Try viewing this page when <a href="/?redirect=/RequiresRole">Signed in as test2 user</a>
    who doesn't have this required role.
</p>