
<h1>test</h1>


<style>
    .rule {
        background-image: url("@Html.SvgDataUri("mysvg")");
        background-image: url("@Html.SvgDataUri("mysvg", "#333")");
    }
</style>


<!--view:test.cshtml-->