<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/> <!-- 2.0 RTM   -->
		<supportedRuntime version="v2.0.50215"/> <!-- 2.0 Beta2 -->
		<supportedRuntime version="v2.0.50110"/> <!-- 2.0 PD7   -->
		<supportedRuntime version="v2.0.40903"/> <!-- 2.0 PD6   -->
		<supportedRuntime version="v2.0.40607"/> <!-- 2.0 Beta1 -->
		<supportedRuntime version="v2.0.40426"/> <!-- 2.0 PD5   -->
		<supportedRuntime version="v2.0.40301"/> <!-- 2.0 PD4   -->
		<supportedRuntime version="v2.0.40209"/> <!-- 2.0 PD3   -->
		<supportedRuntime version="v2.0.31113"/> <!-- 2.0 PD2   -->
		<supportedRuntime version="v2.0.31010"/> <!-- 2.0 PD1   -->
		<supportedRuntime version="v1.2.30703"/> <!-- 2.0 PDC   -->
		<supportedRuntime version="v1.1.4322"/>  <!-- 1.1 RTM   -->
		<supportedRuntime version="v1.0.3705"/>  <!-- 1.0 RTM   -->
	</startup>
</configuration>
