@inherits ApiComponentBase

@if (inputType == "select")
{
    <SelectInput Id=@propName Status=@Status TValue="string"
                @bind-Value="Value" @attributes="IncludeAttributes" Help=@TextUtils.Humanize(propName)>
        @foreach (var item in kvpValues())
        {
            <option value=@item.Key>@item.Value</option>
        }
    </SelectInput>
}
else
{
    <TextInput type=@inputType Id=@propName Status=@Status
               @bind-Value="Value" @bind:event="oninput" step="any" @attributes="IncludeAttributes" Help=@useHelp />
}
