<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceHostsConfigTest" type="ServiceStack.Messaging.ActiveMq.ActiveMqServiceHostsConfigurationSectionHandler, ServiceStack.Messaging.ActiveMq" />
  </configSections>

  <serviceHostsConfigTest>
      <queueHost uri="tcp://localhost:61616/Test.Queue" 
                 failoverUri="failover://(tcp://localhost,tcp://mq-broker.service.systest)?initialReconnectDelay=1001&amp;maxReconnectDelay=11" 
                 serviceType="ServiceStack.Messaging.Tests.Services.Messaging.TestService, ServiceStack.Messaging.Tests" />
  </serviceHostsConfigTest>
</configuration>