@model List<Rockstar>

<div id="sidebar">
    <h4>Razor Partials with Model</h4>
    @foreach (var rockstar in Model) {
        <li>@rockstar.FirstName - @rockstar.LastName (<a href="?Age=@rockstar.Age">@rockstar.Age</a>)</li>
    }
</div>

<!--view:RazorPartialModel.cshtml-->