@using ServiceStack.Razor
<!DOCTYPE html>
@{
    bool isNull = Html.HttpRequest == null;
}

<html lang="en-us">
    <head>
        <title>Layout</title>
    </head>
    <body>
        <div>
            <p>Html.HttpRequest is null on layout: @isNull</p>
        </div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>