body {
}
.navbar {
    border-radius: 0;
}
a {
    color: #0077cc;
}
.form-check.form-control {
    padding-left: 1.75rem;
    height: auto;
}
.result {
    margin: 10px;
    color: #333;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {  
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.w-xs {width:20rem} /* 320px */
.w-sm {width:24rem} /* 384px */
.w-md {width:28rem}

.max-w-xs {max-width:20rem} /* 320px */
.max-w-sm {max-width:24rem} /* 384px */
.max-w-md {max-width:28rem} /* 448px */
.max-w-lg {max-width:32rem} /* 512px */
.max-w-xl {max-width:36rem} /* 576px */
.max-w-2xl{max-width:42rem} /* 672px */