@{
    Layout = "Empty";
}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Login Page</title>
        <style>
        BODY {
            background-color:white;
            color:#000000;
            font-family:Verdana;
            margin: 0;            
        }
        H1 {
            background-color: #3c0;
            color: #FFF;
            font-family: Tahoma; 
            font-size: 26px;
            font-weight: normal;
            margin: 0;
            padding: 10px 0 3px 15px;
        }
        #content {
            padding: 15px;
        }
        input {
            padding: 5px 8px;
        }
        #preview {
            background: #fff;
            box-shadow: 0 3px 8px rgba(100, 100, 100, 0.3);
            font-size: 74%;
            padding: 10px 40px 20px 40px;
	        margin: auto;
            max-width: 960px;
        }       
        #preview {
            margin: 40px auto;   
        }
        #preview h3 a {
            color: green;
        }
        #preview h3 b 
        {
            display: inline-block;
            width: 100px;
        }
        
        </style>
    </head>
    <body>        
        <h1>Login</h1>
        
        <div id="content">
            <p>
                Autentication is required to view: <b>@Request.QueryString["redirect"]</b>
            </p>
            
            @if (Request.QueryString["error"] != null)
            {
                <p style="color:red;">
                    @Request.QueryString["error"]
                </p>
            }

            <form action='/auth/credentials' method='POST'>
                <input type='hidden' name='Continue' value='@Request.QueryString["redirect"]' />
                <dl>
                    <dt>User Name:</dt>
                    <dd><input type='text' name='UserName' /></dd>
                    <dt>Password:</dt>
                    <dd><input type='password' name='Password' /></dd>
                </dl>             
                <input type='submit' value='Sign In' />
            </form>

        </div>
        
    </body>
</html>
