BODY
{
  font-family: arial;
}

H2
{
  color: #073;
  margin-bottom: 20px;
  font: normal 26px Tahoma;
}
H2 SPAN
{
  color: #444;
  background: #f1f1f1;
  padding: 0 5px;
}

H3
{
  border-top: solid 1px #ccc;
  padding: 10px 0;
  color: #333;
  font: normal 22px Tahoma;
  margin-left: 10px;
}

SPAN.summary
{
  background: #FAFFBD;
  border: solid 1px #C3D9FF;
  display: block;
  margin: 10px;
  padding: 10px;
  width: 850px;
  font-size: 13px;
}
SPAN.summary STRONG
{
  padding: 0 5px;
  font-size: 18px;
  line-height: 28px;
}

#combined H3
{
  color: #073;
  margin-left: 350px;
  margin-bottom: 0;
  border: none;
  font-size: 26px;
}
#combined TABLE THEAD TH
{
  background: #036;
}


TABLE
{
  border-collapse: collapse;
  margin: 20px;
}
TABLE CAPTION
{
  color: #333;
  padding-bottom: 5px;
  font-style: italic;
  font-size: 13px;
}
TABLE THEAD TH
{
  background: #444;
  color: #fff;
  padding: 5px 10px;
  font-weight: normal;
}
TABLE TBODY TH
{
  background: #f1f1f1;
  font-weight: normal;
  padding: 5px 20px 5px 10px;
}
TABLE TBODY TH.c1
{
  text-align: left;
}
TABLE TD
{
  padding: 5px 10px;
  text-align: center;
  border-right: solid 1px #f1f1f1;  
  border-bottom: solid 1px #f1f1f1;  
}

TR.failed TD, TR.failed TH
{
  text-decoration: line-through;
  color: red;
}
TR.best-time TD, TR.best-time TH
{
  color: green;
  font-weight: bold;
}
