<script>App.components({ EnsureAccess:'#ensure-access-template' })</script>
<template id="ensure-access-template">
<div class="md:p-4">
    <div class="mb-3" v-scope="Alert({ message })"></div>
    <div v-if="!store.auth" class="mb-3" v-scope="store.SignIn()"></div>
    <div v-else>
        <button type="button" @click="store.logout()"
                class="flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Sign Out
        </button>
    </div>
</div>
</template>