<script minify>
import { map } from "../../shared/js/core"
import { Forms } from "../js/appInit"

/** @typedef {{title:string?,errorSummary:string?,model:*,formLayout:InputInfo[]}} State */

App.components({
    /** @param {{apiCreate:() => State}} */
    CreateForm({ store, routes, settings, apiCreate, save, done }) {
        let emptyState = { model:{} }
        return {
            $template: '#create-form-template',
            store, routes, settings,
            formClass: Forms.formClass,
            gridClass: Forms.gridClass,
            /** @type State */
            get state() { return apiCreate && apiCreate() || emptyState },
            get title() { return map(this.state, x => x.title) },
            get dataModelName() { return map(this.state, x => x.dataModel && x.dataModel.name) },
            get errorSummary() { return map(this.state, x => x.errorSummary) },
            get gridInputs() { return map(this.state, x => x.formLayout && Forms.getGridInputs(x.formLayout)) },
            save,
            done,
        }
    },
    /** @param {{apiPatch:() => State, apiUpdate:() => State, apiDelete:() => State}} args */
    EditForm({ store, routes, settings, apiPatch, apiUpdate, apiDelete, save, done }) {
        let emptyState = { model:{} }
        return {
            $template: '#edit-form-template',
            store, routes, settings,
            formClass: Forms.formClass,
            gridClass: Forms.gridClass,
            /** @type State */
            get apiPatch() { return apiPatch && apiPatch() },
            /** @type State */
            get apiUpdate() { return apiUpdate && apiUpdate() },
            /** @type State */
            get apiDelete() { return apiDelete && apiDelete() },
            /** @type State */
            get state() { return this.apiPatch || this.apiUpdate },
            get title() { return map(this.state, x => x.title) },
            get dataModelName() { return map(this.state, x => x.dataModel && x.dataModel.name) },
            get errorSummary() { return map(this.state, x => x.errorSummary) },
            get gridInputs() { return map(this.state, x => x.formLayout && Forms.getGridInputs(x.formLayout)) },
            save,
            done,
        }
    }
})
</script>
<!--minify-->
<template id="create-form-template">
<form v-if="state" @submit.prevent="submit" autocomplete="off" :class="formClass">
    <div class="relative px-4 py-5 bg-white sm:p-6">
        <div v-scope="CloseButton({ onclick:done })" title="Close"></div>
        <div class="text-xl text-gray-900 text-center mb-4">{{ title }}</div>
        <div v-if="errorSummary" v-scope="ErrorSummary({ errorSummary: () => errorSummary })"></div>
        <div class="flex flex-wrap sm:flex-nowrap">
            <div class="flex-grow mb-3 sm:mb-0">
                <fieldset :class="gridClass">
                    <div v-for="{ input, rowClass } in gridInputs" :class="rowClass">
                        <div :key="input.id" v-scope="Input({ input, model:state.model, api:() => api })"></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="mt-4 px-4 py-3 bg-gray-50 text-right sm:px-6">
        <div class="flex justify-end">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create {{ dataModelName }}
            </button>
        </div>
    </div>
</form>
</template>
<template id="edit-form-template">
    <form v-if="state" @submit.prevent="submit" autocomplete="off" :class="formClass">
        <div class="relative px-4 py-5 bg-white sm:p-6">
            <div v-scope="CloseButton({ onclick:done })" title="Close"></div>
            <div class="text-xl text-gray-900 text-center mb-4">{{ title }}</div>
            <div v-if="errorSummary" v-scope="ErrorSummary({ errorSummary: () => errorSummary })"></div>
            <div class="flex flex-wrap sm:flex-nowrap">
                <div class="flex-grow mb-3 sm:mb-0">
                    <fieldset :class="gridClass">
                        <div v-for="{ input, rowClass } in gridInputs" :class="rowClass">
                            <div :key="input.id" v-scope="Input({ input, model:state.model, api:() => api })"></div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="mt-4 px-4 py-3 bg-gray-50 text-right sm:px-6">
            <div class="flex justify-end">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Update {{ dataModelName }}
                </button>
            </div>
        </div>
    </form>
</template>
<!--/minify-->
