@page "/file-upload"
<h3>FileUploadPage</h3>

<FileUpload Request="request" FilePropertyName="@nameof(CreateFileUpload.FilePath)"/>


@code {

    // Any additional values should be populated on the request object before the upload starts.
    CreateFileUpload request = new()
    {
        MyVal = "test"
    };
}