name: Build Logging

on:
  push:
    paths:
      - 'ServiceStack.Logging/**'
      - '.github/workflows/build-logging.yml'

permissions:
  contents: read

jobs:
  build-logging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          

      - name: Build
        working-directory: ServiceStack.Logging/build
        run: dotnet build ./build.proj

      - name: Env setup
        run: |
          echo "SERVICESTACK_LICENSE=${{ secrets.SERVICESTACK_LICENSE }}" >> $GITHUB_ENV
          
# net472 only package, need to upgrade if possible to run tests or use different runner.
#      - name: Logging Tests
#        run: dotnet test --framework net10.0 ./ServiceStack.Logging/tests/ServiceStack.Logging.Tests/ServiceStack.Logging.Tests.csproj  --logger 'trx;LogFileName=results.trx'


#      - name: Test Report
#        uses: dorny/test-reporter@v1
#        if: (success() || failure()) && steps.test_integration.outcome != 'skipped'
#        with:
#          name: Text Tests
#          path: ./ServiceStack.Logging/tests/ServiceStack.Logging.Tests/TestResults/results.trx
#          reporter: dotnet-trx
#          only-summary: 'true'
          