name: Build Blazor

on:
  push:
    paths:
      - 'ServiceStack.Blazor/**'
      - '.github/workflows/build-blazor.yml'

permissions:
  contents: read

jobs:
  build-blazor:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.*'
          dotnet-quality: 'preview'

      - name: Build
        working-directory: ServiceStack.Blazor/build
        run: dotnet build ./build.proj
          