name: Build Logging

on:
  push:
    paths:
      - 'ServiceStack.Logging/**'
      - '.github/workflows/build-logging.yml'

jobs:
  build-logging:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0'
          include-prerelease: true

      - name: Build
        working-directory: ServiceStack.Logging/build
        run: dotnet build ./build.proj

      - uses: actions/upload-artifact@v2
        with:
          name: ServiceStack.Logging
          retention-days: 1
          path: ./ServiceStack.Logging/NuGet/*.nupkg

      - name: Env setup
        run: |
          echo "SERVICESTACK_LICENSE=${{ secrets.SERVICESTACK_LICENSE }}" >> $GITHUB_ENV
          
# net472 only package, need to upgrade if possible to run tests or use different runner.
#      - name: Logging Tests
#        run: dotnet test --framework net6.0 ./ServiceStack.Logging/tests/ServiceStack.Logging.Tests/ServiceStack.Logging.Tests.csproj  --logger 'trx;LogFileName=results.trx'


#      - name: Test Report
#        uses: dorny/test-reporter@v1
#        if: (success() || failure()) && steps.test_integration.outcome != 'skipped'
#        with:
#          name: Text Tests
#          path: ./ServiceStack.Logging/tests/ServiceStack.Logging.Tests/TestResults/results.trx
#          reporter: dotnet-trx
#          only-summary: 'true'
          