name: Build Blazor

on:
  push:
    paths:
      - 'ServiceStack.Blazor/**'
      - '.github/workflows/build-blazor.yml'

permissions:
  contents: read

jobs:
  build-blazor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          

      - name: Build
        working-directory: ServiceStack.Blazor/build
        run: dotnet build ./build.proj
          