name: A GitHub Publish
permissions:
  packages: write
  contents: write

on: workflow_dispatch

jobs:
  myget-push:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0'
          include-prerelease: true

      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: myget-pack.yml
          # workflow_conclusion: success
          name: ServiceStack Packages
          commit: ${{ github.sha }}
          path: ./build/staging
          
      - name: Check output
        working-directory: ./build
        run: |
          cd staging
          export number_of_packages=$(ls -1 | wc -l)
          echo "number_of_packages=${number_of_packages}" >> $GITHUB_ENV
          
      - name: 'Dotnet NuGet Add Source'
        run: dotnet nuget add source https://nuget.pkg.github.com/ServiceStack/index.json --name GitHub --username ServiceStack --password ${{ secrets.GITHUB_TOKEN }}
      
          
      - name: Push to GitHub
        working-directory: ./build/staging
        run: |
          # Check if more than 73 packages 
          if [[ ${number_of_packages} -gt 73 ]]; then
            echo "Pushing to MyGet"
            dotnet nuget push '*.nupkg' -s GitHub --api-key ${{ secrets.GITHUB_TOKEN }}
          else
            echo 'Less files than expected, skipping push'
            exit 1
          fi
