name: A Pre Release Pack

on: workflow_dispatch

permissions:
  contents: read

jobs:
  pre-release-pack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          

      - name: Build All
        working-directory: ./build
        run: |
          chmod +x ./build-all.sh
          chmod +x ../ServiceStack/build/build.sh
          chmod +x ../ServiceStack.Aws/build/build.sh
          chmod +x ../ServiceStack.Azure/build/build.sh
          chmod +x ../ServiceStack.Blazor/build/build.sh
          chmod +x ../ServiceStack.Logging/build/build.sh
          chmod +x ../ServiceStack.OrmLite/build/build.sh
          chmod +x ../ServiceStack.Redis/build/build.sh
          chmod +x ../ServiceStack.Stripe/build/build.sh
          chmod +x ../ServiceStack.Text/build/build.sh
          ./build-all.sh

      - name: Stage output
        working-directory: ./build
        run: |
          chmod +x ./stage-output.sh
          ./stage-output.sh
          cd staging
          export number_of_packages=$(ls -1 | wc -l)
          echo "number_of_packages=${number_of_packages}" >> $GITHUB_ENV


      - name: Check number of packages
        if: env.number_of_packages < 48
        run: |
          echo "less packages produced (${{ env.number_of_packages }}) than expected (>=49), failing."
          ls -1 ./build/staging/*.nupkg
          exit 1

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4
        with:
          name: ServiceStack Packages
          retention-days: 1
          path: ./build/staging/*.nupkg