<h3>Sign In using credentials</h3>

<form action="/auth/credentials" method="post">
<div class="form-row">
    {{ ['userName','password'] | formSummary({class:'alert alert-warning'}) }}
    <input type="hidden" name="continue" value="/validation/authtest" />
    <input type="hidden" name="errorView" value="PostBackLoginNoJs">
</div>

<div class="form-row">
    <div class="form-group">
        {{ {id:'userName',value:'as@if.com'} | formInput({label:'Email',help:'Email you signed up with',size:'lg'}) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        {{ {id:'password',type:'password'} | formInput({label:'Password',help:'6 characters or more',size:'lg',preserveValue:false}) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group">
        {{ {id:'rememberMe',type:'checkbox',checked:true} | formInput({label:'Remember Me'}) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-lg btn-primary">Login</button>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <a class="lnk" href="/validation/postback/register">Register New User</a>
    </div>
</div>
<div>
    <b>Quick Login:</b>
    <div class="quicklist">
        <span data-click="switchUser:admin@email.com">admin@email.com</span>
    </div>
</div>
</form>

{{#raw appendTo scripts}}
<script>
$(document).bindHandlers({
    switchUser: function(u) {
        $("[name=userName]").val(u);
        $("[name=password]").val('p@55wOrd');
    }
});
</script>
{{/raw}}