<script>
App.components({ 
    PreviewObject({ val, fieldAttrs, attrs }) {
        let num = m => m
        let date = toDate
        let pad = d =>  d < 10 ? '0' + d : d
        let dmft = (d) => d.getFullYear() + '/' + pad(d.getMonth() + 1) + '/' + pad(d.getDate())
        let str = m => m.substr(0, 6) === '/Date(' ? dmft(date(m)) : m.trim()
        return {
            $template: '#preview-object-template',
            val,
            fieldAttrs,
            attrs: attrs,
            type: typeof val,
            num,
            str,
        }
    },
    ObjectPreview({ val, fieldAttrs }) {
        let show = k => typeof k !== 'string' || k.substr(0, 2) !== '__'
        let keyFmt = t => humanize(toPascalCase(t))
        let keys = Object.keys(val).filter(show)
        return {
            $template: '#object-preview-template',
            val,
            fieldAttrs,
            type: typeof val,
            keys,
            rows: keys.map(k => ({ key:keyFmt(k), val: val[k] })),
        }
    },
    ArrayPreview({ val, fieldAttrs }) {
        let show = k => typeof k !== 'string' || k.substr(0, 2) !== '__'
        let type = typeof val[0]
        let isScalar = type === 'string' || type === 'number' || type === 'boolean'
        return {
            $template: '#array-preview-template',
            val,
            fieldAttrs,
            type,
            isScalar,
            uniqueKeys: isScalar ? [] : uniqueKeys(val).filter(show),
            keyFmt: t => humanize(toPascalCase(t)),
        }
    } 
})
</script>
<template id="preview-object-template">
<div v-bind="attrs" v-if="val == null"></div>
<div v-bind="attrs" v-else-if="type == 'number'"><span>{{num(val)}}</span></div>
<div v-bind="attrs" v-else-if="type == 'string'"><span>{{str(val)}}</span></div>
<div v-bind="attrs" v-else-if="type == 'boolean'"><span>{{val ? 'true' : 'false'}}</span></div>
<div v-bind="attrs" v-else-if="val.length" v-scope="ArrayPreview({ val, fieldAttrs })"></div>
<div v-bind="attrs" v-else v-scope="ObjectPreview({ val, fieldAttrs })"></div>
</template>
<template id="array-preview-template">
<span v-if="isScalar" v-html="val"></span>
<div v-else class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="md:shadow overflow-hidden border-b border-gray-200 md:rounded-lg">    
                <table class="table-array min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th v-for="k in uniqueKeys" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider whitespace-nowrap">
                            <b></b>{{keyFmt(k)}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row,index) in val" :class="index % 2 == 0 ? 'bg-white' : 'bg-gray-50'">
                            <td v-for="k in uniqueKeys" class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
                                v-scope="PreviewObject({ val:row[k], fieldAttrs, attrs:fieldAttrs && fieldAttrs(k) || {} })">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</template>
<template id="object-preview-template">
<table class="table-object">
    <tr v-for="row in rows">
        <th class="text-left font-medium align-top py-2 px-4 whitespace-nowrap">{{row.key}}</th>
        <td class="align-top py-2 px-4" v-scope="PreviewObject({ val:row.val, fieldAttrs, attrs:fieldAttrs && fieldAttrs(row.key) || {} })"></td>
    </tr>
</table>
</template>
